<div class="dlab-accordion faq-1 box-sort-in m-b30 space active-bg accdown1" id="accordion001">
<div class="panel">
	<div class="acod-head">
		<h6 class="acod-title"> <a href="javascript:void(0);" data-toggle="collapse" data-target="#collapse1" aria-expanded="true"> What are the different types of undergraduate degrees?</a> </h6>
	</div>
	<div id="collapse1" class="acod-body collapse show" data-parent="#accordion001">
		<div class="acod-content">
			<p>Web design aorem apsum dolor sit amet, adipiscing elit, sed diam nibh euismod tincidunt ut laoreet 
			dolore magna aliquam erat volutpat. Claritas est etiam processus. ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Claritas est etiam processus.</p>
			<p class="m-b0">Web design aorem apsum dolor sit amet, adipiscing elit, sed diam nibh euismod tincidunt ut laoreet 
			dolore magna aliquam erat volutpat. Claritas est etiam processus. ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Claritas est etiam processus.</p>
		</div>
	</div>
</div>
<div class="panel">
	<div class="acod-head">
		<h6 class="acod-title"> <a  href="javascript:void(0);" data-toggle="collapse" data-target="#collapse2" class="collapsed" aria-expanded="false">Can you work while studying in the United States?</a> </h6>
	</div>
	<div id="collapse2" class="acod-body collapse" data-parent="#accordion001">
		<div class="acod-content">
			<p>Web design aorem apsum dolor sit amet, adipiscing elit, sed diam nibh euismod tincidunt ut laoreet 
			dolore magna aliquam erat volutpat. Claritas est etiam processus. ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Claritas est etiam processus.</p>
			<p class="m-b0">Web design aorem apsum dolor sit amet, adipiscing elit, sed diam nibh euismod tincidunt ut laoreet 
			dolore magna aliquam erat volutpat. Claritas est etiam processus. ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Claritas est etiam processus.</p>
		</div>
	</div>
</div>
<div class="panel">
	<div class="acod-head">
		<h6 class="acod-title"> <a  href="javascript:void(0);" data-toggle="collapse"  data-target="#collapse3" class="collapsed" aria-expanded="false">How long are your contracts?</a> </h6>
	</div>
	<div id="collapse3" class="acod-body collapse" data-parent="#accordion001">
		<div class="acod-content">
			<p>Web design aorem apsum dolor sit amet, adipiscing elit, sed diam nibh euismod tincidunt ut laoreet 
			dolore magna aliquam erat volutpat. Claritas est etiam processus. ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Claritas est etiam processus.</p>
			<p class="m-b0">Web design aorem apsum dolor sit amet, adipiscing elit, sed diam nibh euismod tincidunt ut laoreet 
			dolore magna aliquam erat volutpat. Claritas est etiam processus. ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Claritas est etiam processus.</p>
		</div>
	</div>
</div>
<div class="panel">
	<div class="acod-head">
		<h6 class="acod-title"> <a  href="javascript:void(0);" data-toggle="collapse" data-target="#collapse4" class="collapsed" aria-expanded="false">What are the different types of undergraduate degrees?</a> </h6>
	</div>
	<div id="collapse4" class="acod-body collapse" data-parent="#accordion001">
		<div class="acod-content">
			<p>Web design aorem apsum dolor sit amet, adipiscing elit, sed diam nibh euismod tincidunt ut laoreet 
			dolore magna aliquam erat volutpat. Claritas est etiam processus. ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Claritas est etiam processus.</p>
			<p class="m-b0">Web design aorem apsum dolor sit amet, adipiscing elit, sed diam nibh euismod tincidunt ut laoreet 
			dolore magna aliquam erat volutpat. Claritas est etiam processus. ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Claritas est etiam processus.</p>
		</div>
	</div>
</div>
<div class="panel">
	<div class="acod-head">
		<h6 class="acod-title"> <a  href="javascript:void(0);" data-toggle="collapse"  data-target="#collapse5" class="collapsed" aria-expanded="false">What is the transfer application process? </a> </h6>
	</div>
	<div id="collapse5" class="acod-body collapse" data-parent="#accordion001">
		<div class="acod-content">
			<p>Web design aorem apsum dolor sit amet, adipiscing elit, sed diam nibh euismod tincidunt ut laoreet 
			dolore magna aliquam erat volutpat. Claritas est etiam processus. ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Claritas est etiam processus.</p>
			<p class="m-b0">Web design aorem apsum dolor sit amet, adipiscing elit, sed diam nibh euismod tincidunt ut laoreet 
			dolore magna aliquam erat volutpat. Claritas est etiam processus. ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Claritas est etiam processus.</p>
		</div>
	</div>
</div>
</div>
