<div class="section-full content-inner bg-gray">
				<div class="container">
					<div class="row align-items-center">
						<div class="col-lg-3 col-md-6 col-6 m-b30">
							<div class="icon-bx-wraper left counter-style-6">
								<div class="icon-lg text-primary radius icon-up">
									<span class="icon-cell"><i class="las la-laptop-code"></i></span> 
								</div>
								<div class="icon-content">
									<h5 class="dlab-tilte">8000</h5>
									<p>Online Courses</p>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 col-6 m-b30">
							<div class="icon-bx-wraper left counter-style-6">
								<div class="icon-lg text-primary radius icon-up" >
									<span class="icon-cell"><i class="las la-user-graduate"></i></span> 
								</div>
								<div class="icon-content">
									<h5 class="dlab-tilte">2700</h5>
									<p>Expert Instructors</p>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 col-6 m-b30">
							<div class="icon-bx-wraper left counter-style-6">
								<div class="icon-lg text-primary radius icon-up">
									<span class="icon-cell"><i class="las la-book"></i></span> 
								</div>
								<div class="icon-content">
									<h5 class="dlab-tilte">Unlimited</h5>
									<p>Course Access</p>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 col-6 m-b30">
							<div class="icon-bx-wraper left counter-style-6">
								<div class="icon-lg text-primary radius icon-up">
									<span class="icon-cell"><i class="las la-book-reader"></i></span> 
								</div>
								<div class="icon-content">
									<h5 class="dlab-tilte">Learn</h5>
									<p>From Anywhere</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>