<div class="section-full bg-white content-inner">
	<div class="container">
		<div class="row service-area-one">
			<div class="col-lg-4 m-b30 hidden-sm">
				<div class="rdx-thu"><img src="assets/images/im51.jpeg" alt=""></div>
			</div>
			<div class="col-lg-8">
				<div class="section-head" dir="rtl">
					<h1 class="title hed text-center"> مع مركز اثراء الحياة هتقدر تنمى مهاراتك المهنية والشخصية </h1>
					<h5 class=" text-center mt-5">  ودورتنا التدريبية سوف تساعدك على إدارة أعمالك ومشاريعك وتطور الذات من خلال كورساتنا التدريبية وهى
						 </h5>
				</div>
				<div class="row">
					<div class="col-md-6 col-sm-6 m-b30">
						<div class="icon-bx-wraper left">
							<!-- <div class="icon-bx-xs bg-secondry radius"> <a href="#" class="icon-cell"><i class="fa fa-paint-brush"></i></a> </div> -->
							<div>
								<h4 class="rdx-tilte   text-center"> كورس التخطيط المالى</h4>
								<!-- <h5 dir="ltr">	هقتدر من خلال الدورة كيفية ادارة المشروع الخاص بك وكيفية ادارة الاموال والموارد البشرية </h5> -->
							</div>
						</div>
					</div>
					<div class="col-md-6 col-sm-6 m-b30">
						<div class="right">

							<div dir="ltr">
								<h4 class="rdx-tilte text-center">كورس الأمن السيبرانى</h4>
								<!-- <p>	هتقدر من خلال الكورس التعرف على كيفية حماية حسابك ألالكترونى الشخصى من اى هجمات ألكترونية </p> -->
							</div>
						</div>
					</div>
					<div class="col-md-6 col-sm-6 m-b30">
						<div class="icon-bx-wraper left">
							<!-- <div class="icon-bx-xs bg-primary radius"> <a href="#" class="icon-cell"><i class="fa fa-book"></i></a> </div> -->
							<div class="icon-content">
								<h4 class="rdx-tilte text-center">كورس تغليف الهدايا وتنسيق الزهور</h4>
								<!-- <p>	هتقدر من خلال الكورس تحديد ميزانية بداء المشروع وكيفية ادارة والنتائج الرجوة من المشروع </p> -->
							</div>
						</div>
					</div>
					<div class="col-md-6 col-sm-6 m-b30">
						<div class="icon-bx-wraper left">
							<!-- <div class="icon-bx-xs bg-primary radius"> <a href="#" class="icon-cell"><i class="fa fa-graduation-cap"></i></a> </div> -->
							<div class="icon-content">
								<h4 class="rdx-tilte text-center">كورس المحاسبة لغير المحاسبين </h4>
								<!-- <p>هتقدر من خلالة تكون  محاسب متميز فى مسك الدفاتر وكتابة التقارير</p> -->
							</div>
						</div>
					</div>
					<div class="col-md-6 col-sm-6 m-b30">
						<div class="icon-bx-wraper left">
							<!-- <div class="icon-bx-xs bg-secondry radius"> <a href="#" class="icon-cell"><i class="fa fa-user"></i></a> </div> -->
							<div class="icon-content">
								<h4 class="rdx-tilte text-center"> كورس إدارة المشاريع الصغيرة والتجارة بها </h4>
								<!-- <p>	هتسطيع من خلال الدورة اختيار خامات الهدايا وهترفع من مستوى التذوق عند طفلك</p> -->
							</div>
						</div>
					</div>
					<div class="col-md-6 col-sm-6 m-b30">
						<div class="icon-bx-wraper left serb">
							<!-- <div class="icon-bx-xs bg-secondry radius"> <a href="#" class="icon-cell"><i class="fa fa-clock-o"></i></a> </div> -->
							<div class="icon-content">
								<h4 class="rdx-tilte text-center">كورس مهارات التخطيط والإرشاد السياحى</h4>
								<!-- <p>	هتقدرتزود من مهارات فى مجال الارشاد السياحى ويجعل منك مرشد سياحى متمي</p> -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>