<div class="row">
				<div class="col-lg-4 col-md-6 col-sm-12 m-b30 wow fadeInLeft" data-wow-duration="2s" data-wow-delay="0.3s">
					<div class="icon-bx-wraper bx-style-2 m-l40 p-a30 left bg-gray icon-bx-ho">
						<div class="icon-bx-sm bg-primary m-b20"><span class="icon-cell"><img src="assets/images/icon/book.png" alt=""></span> </div>
						<div class="icon-content p-l40">
							<h5 class="dlab-tilte">Expert Faculty</h5>
							<p>Lorem ipsum dolor sit amet, consectetuer adipiscing  sed diam nibh euismod..</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12 m-b30 wow fadeInDown" data-wow-duration="2s" data-wow-delay="0.3s">
					<div class="icon-bx-wraper bx-style-2 m-l40 p-a30 left bg-gray icon-bx-ho">
						<div class="icon-bx-sm bg-primary m-b20"><a href="javascript:void(0);" class="icon-cell"><img src="assets/images/icon/graduate.png" alt=""></a> </div>
						<div class="icon-content p-l40">
							<h5 class="dlab-tilte">Learn Courses Online</h5>
							<p>Lorem ipsum dolor sit amet, consectetuer adipiscing  sed diam nibh euismod..</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12 m-b30 wow fadeInRight" data-wow-duration="2s" data-wow-delay="0.3s">
					<div class="icon-bx-wraper bx-style-2 m-l40 p-a30 left bg-gray icon-bx-ho">
						<div class="icon-bx-sm bg-primary m-b20"><a href="javascript:void(0);" class="icon-cell"><img src="assets/images/icon/books.png" alt=""></a> </div>
						<div class="icon-content p-l40">
							<h5 class="dlab-tilte">Book Library & Store</h5>
							<p>Lorem ipsum dolor sit amet, consectetuer adipiscing  sed diam nibh euismod..</p>
						</div>
					</div>
				</div>
			</div>