<div class="section-full content-inner bg-white">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-6 col-md-12 m-b30 about-two align-self-start">
				<div class="row sp10">
					<div class="col-md-12 ">
					
						<img src="assets\images\im40.jpg" class="image1"  alt=""> <br><br>
						<img src="assets\images\im26.jpeg" class="image1"  alt="">
						<!-- <img src="{{data.images_data.img1}}" class="img-cover" alt=""> -->
					</div>
					<div class="col-md-12 m-b10">
						<!-- <div>
						<img src="assets\images\im26.jpeg" class="image1"  alt="">
						</div> -->
						<!-- <img src="{{data.images_data.img2}}" class="img-cover" alt=""> -->
					</div>
					<!-- <div class="col-md-5 m-b10">
						<div >
							
							<div [innerHTML]="data.exp_content"></div>
						</div>
					</div> -->
				</div>
			</div>
			<div class="col-lg-6 m-b30 about-two" dir="rtl">
				<div class="section-head" dir="rtl">
					<h2  dir="rtl" class="title text-right "> رؤيتنا : <br></h2>
					
					<h5 class="text-right">أن نكون الخيار الأول للأفراد، والشركات لتطوير أداء ومهارات المتدربين 
							ورفع كفاءتهم <br>وتحقيق أهدافهم.  </h5>
					
						<h2  dir="rtl" class="title text-right mt-5 "> رسالتنا : <br></h2>
						
						<h5 class="text-right"> تقديم بيئة تدريبية متميزة، معززة للقيم الأخلاقية والانتماء الوطني، تسعى لتنمية مهارات وكفاءة الموارد البشرية وجودة مخرجاتها، بتقديم برامج تدريبية مواكبة لتغيرات العصر، وذلك من خلال كوادر تدريبية مؤهلة  </h5>
						<br><br><br><br>
						<h2  dir="rtl" class="title  todown text-right mt-10"> هدفنا  : <br></h2>
						
						<h5 class="text-right"> مكين المتدربين من قدراتهم ومهاراتهم، والنهوض بهمتهم وتوسيع مداركهم للوصول إلى أهدافهم.
							تقديم دبلومات و دورات تدريبية متميزة تراعي جميع احتياجات المجتمع بمختلف المجالات، يقدمها مدربين ومدربات متخصصين في بيئة تدريبية متكاملة
						</h5>
						<br>

							<h2  dir="rtl" class="title text-right "> المدربين  : <br></h2>
						
							<h5 class="text-right">يحرص مركز تدريب إثراء الحياة التدريب  على استقطاب الكفاءات من المدربين لأنهم حلقة الوصل بين المادة التدريبية والمتدربين فمن خلالهم يتحقق الهدف من التدريب بالشكل المطلوب. </h5>
						<br>
			
						<h2  dir="rtl" class="title text-right "> القاعات والتجهيزات:  <br></h2>
						
						<h5 class="text-right">سعياً لتوفير بيئة تدريبية متكاملة تسهم في اكتمال العملية التدريبية قدمنا قاعات مجهزة ومتميزة تسهم في نجاح العملية التدريبية. </h5>
					<br>
		
						<!-- <h5 class="font1" >
							:برامجنا تساعدك على ادارة اعمالك ومشاريعك وتطوير ذاتك و تحتوى على
					</h5> -->
					
					<!-- <div dir="rtl" class="dlab-separator bg-primary"></div> -->
				</div>
				<!-- <ul class="ulfont">
					
					<li>		الأبداع  وهو خيارنا الاستراتيجى</li>
					<li>		الشراكة وهو مرتكز نجاحا</li>
					<li>			الجودة وهى تصنع انجازاتنا </li>
					<li>		الجمال وهو قيمة لا بديل له </li>
					<li>		السعادة لدى عملائنا هدفنا الاول </li>
					
				</ul> -->
				<!-- <div [innerHTML]="data.content" dir="rtl" ></div> -->
				
				<!-- <a dir="rtl" href="{{data.content_link}}" class="site-button">Read More</a> -->
			</div>
		</div>
	</div>
</div>


