<header class="site-header mo-left header">
	<!-- main header -->
	<div class="sticky-header main-bar-wraper navbar-expand-lg">
		<div class="main-bar clearfix ">
			<div class="container clearfix">
				
				<button class="navbar-toggler collapsed navicon justify-content-end" type="button"
					data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
					aria-expanded="false" aria-label="Toggle navigation">
					<span></span>
					<span></span>
					<span></span>
				</button>
				
				<div class="header-nav navbar-collapse collapse justify-content-end" id="navbarNavDropdown">
					
					<ul class="nav navbar-nav mr-5" dir="rtl">
						<!-- <li class="active has-mega-menu homedemo mr-2">
							<a href="javascript:void(0);" [routerLink]="['/home-university']"
								[ngStyle]="{'font-size':'20px'}"> الرئيسية</a>
						</li> -->
						
						<li class="mr-2" [ngStyle]="{ }">
							<a href="javascript:void(0);" [ngStyle]="{'font-size':'20px' }"
							[routerLink]="['/blog-grid-2-sidebar-left']">إضافة دورة تدريبية </a>
							
							</li>
							<li class="log">
								<a [routerLink]="['/contact-1']" [ngStyle]="{'font-size':'23px' }">
									حذف دورة تدريبية
								</a>
							</li>
							<li class="log">
								<a [routerLink]="['/blog-half-img']" [ngStyle]="{'font-size':'23px' }">
									إضافة معلم جديد
								</a>
							</li>

						<li class="log"><a  [routerLink]="['/event-details']" [ngStyle]="{'font-size':'23px' }">
							حذف معلم 
							</a>
						</li>
					</ul>
					

					<div class="logo-header mostion logo-dark">
						<a [routerLink]="['/home-university']">
							<img [ngStyle]=" {'width' : '150px','hight' : '50px'}"
								src="assets/images/loso-elhaya.jpeg" alt="">
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- main header END -->
</header>
