<div class="section-full bg-white content-inner-1">
                <div class="container">
					<div class="section-head kinder-head text-center">
						<h2 class="head-title text-primary">Gallery of our classes</h2>
						<p>We provide three classes with nine to twenty children each aged twelve months to six years of age.</p>
					</div>
					<div class="gallery-carousel owl-carousel owl-theme dots-none sprite-nav" id="lightgallery">
						<div class="item">
							 <div class="dlab-box kinder-frame">
								<div class="dlab-thum dlab-img-overlay1"> 
									<a href="javascript:void(0);">
										<img src="assets/images/gallery/kindergarten/pic4.jpg" alt="">
									</a>
									<div class="overlay-bx">
										<div class="overlay-icon"> 
											<span data-exthumbimage="assets/images/gallery/kindergarten/pic4.jpg" data-src="assets/images/gallery/kindergarten/pic4.jpg" class="check-km" title="Title Come Here">
												<i class="fa fa-search icon-bx-xs"></i>
											</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="item">
							 <div class="dlab-box kinder-frame">
								<div class="dlab-thum dlab-img-overlay1"> 
									<a href="javascript:void(0);">
										<img src="assets/images/gallery/kindergarten/pic5.jpg" alt="">
									</a>
									<div class="overlay-bx">
										<div class="overlay-icon"> 
											<span data-exthumbimage="assets/images/gallery/kindergarten/pic5.jpg" data-src="assets/images/gallery/kindergarten/pic5.jpg" class="check-km" title="Title Come Here">
												<i class="fa fa-search icon-bx-xs"></i>
											</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="item">
							 <div class="dlab-box kinder-frame">
								<div class="dlab-thum dlab-img-overlay1"> 
									<a href="javascript:void(0);">
										<img src="assets/images/gallery/kindergarten/pic6.jpg" alt="">
									</a>
									<div class="overlay-bx">
										<div class="overlay-icon"> 
											<span data-exthumbimage="assets/images/gallery/kindergarten/pic6.jpg" data-src="assets/images/gallery/kindergarten/pic6.jpg" class="check-km" title="Title Come Here">
												<i class="fa fa-search icon-bx-xs"></i>
											</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="item">
							 <div class="dlab-box kinder-frame">
								<div class="dlab-thum dlab-img-overlay1"> 
									<a href="javascript:void(0);">
										<img src="assets/images/gallery/kindergarten/pic1.jpg" alt="">
									</a>
									<div class="overlay-bx">
										<div class="overlay-icon"> 
											<span data-exthumbimage="assets/images/gallery/kindergarten/pic1.jpg" data-src="assets/images/gallery/kindergarten/pic1.jpg" class="check-km" title="Title Come Here">
												<i class="fa fa-search icon-bx-xs"></i>
											</span> 
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="item">
							 <div class="dlab-box kinder-frame">
								<div class="dlab-thum dlab-img-overlay1"> 
									<a href="javascript:void(0);">
										<img src="assets/images/gallery/kindergarten/pic2.jpg" alt="">
									</a>
									<div class="overlay-bx">
										<div class="overlay-icon"> 
											<span data-exthumbimage="assets/images/gallery/kindergarten/pic2.jpg" data-src="assets/images/gallery/kindergarten/pic2.jpg" class="check-km" title="Title Come Here">
												<i class="fa fa-search icon-bx-xs"></i>
											</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="item">
							 <div class="dlab-box kinder-frame">
								<div class="dlab-thum dlab-img-overlay1"> 
									<a href="javascript:void(0);">
										<img src="assets/images/gallery/kindergarten/pic3.jpg" alt="">
									</a>
									<div class="overlay-bx">
										<div class="overlay-icon"> 
											<span data-exthumbimage="assets/images/gallery/kindergarten/pic3.jpg" data-src="assets/images/gallery/kindergarten/pic3.jpg" class="check-km" title="Title Come Here">
												<i class="fa fa-search icon-bx-xs"></i>
											</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
            </div>