
<div class="page-wraper">

    <!-- header -->
    <app-header-light3></app-header-light3>
    <!-- header END -->
    <!-- Content -->
    <div class="page-content bg-white">
        <!-- inner page banner -->
        <app-banner1 [data] = "banner"></app-banner1>
        <!-- inner page banner END -->
        <!-- contact area -->
        <div class="content-block">
            <!-- About Us -->
			<app-content12 [data] = "skills"></app-content12>
			<!-- About Us End -->
			<!-- Service Info Head -->
			<app-content13></app-content13>
			<!-- Our Services -->
			<!-- Features -->
			<!-- <app-services-element1 [data] = "services"></app-services-element1> -->
			<!-- Features End -->
        </div>
		<!-- contact area END -->
    </div>
    <!-- Content END-->
    <!-- Footer -->
   <!-- Newsletter -->
	<!-- <app-newsletter2></app-newsletter2> -->
   <!-- Footer -->
    <app-footer13></app-footer13>
    <!-- Footer END-->
    <button class="scroltop fa fa-chevron-up" ></button>
</div>