<div class="section-full content-inner bg-white wow fadeIn" data-wow-duration="2s" data-wow-delay="0.6s">
				<div class="container">
					<div class="section-head text-black text-center">
						<h2 class="title">Popular Courses</h2>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry has been the industry's standard dummy text ever since the been when an unknown printer.</p>
					</div>	
					<div class="site-filters clearfix center m-b40">
						<ul class="filters" data-toggle="buttons">
							<li data-filter="" class="btn active"><input type="radio"><a href="javascript:void(0);" class="site-button outline outline-2 button-sm btn-tb"><span>All</span></a></li>
							<li data-filter="web" class="btn"><input type="radio"><a href="javascript:void(0);" class="site-button outline outline-2 button-sm btn-tb"><span>Web Design</span></a></li>
							<li data-filter="photography" class="btn"><input type="radio"><a href="javascript:void(0);" class="site-button outline outline-2 button-sm btn-tb"><span>Photography</span></a></li>
							<li data-filter="management" class="btn"><input type="radio"><a href="javascript:void(0);" class="site-button outline outline-2 button-sm btn-tb"><span>Management</span></a></li>
							<li data-filter="advertising" class="btn"><input type="radio"><a href="javascript:void(0);" class="site-button outline outline-2 button-sm btn-tb"><span>Advertising</span></a></li>
							<li data-filter="collage" class="btn"><input type="radio"><a href="javascript:void(0);" class="site-button outline outline-2 button-sm btn-tb"><span>Collage</span></a></li>
						</ul>
					</div>  
					<div class="clearfix" id="lightgallery">
						<ul id="masonry" class="portfolio-ic dlab-gallery-listing row gallery-grid-4 lightgallery">
							<li class="card-container col-lg-3 col-md-6 col-sm-6 web">
								<div class="dlab-box courses-bx">
									<div class="dlab-media"> 
										<img src="assets/images/our-work/pic1.jpg" alt="">
										<div class="user-info">
											<img src="assets/images/testimonials/pic1.jpg" alt="">
											<h6 class="title">Jack Ronan</h6>
											<div class="review">
												<ul class="item-review">
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star-half-o"></i></li>
													<li><i class="fa fa-star-o"></i></li>
												</ul>
												<span>10 Review</span>
											</div>
										</div>
									</div>
									<div class="dlab-info">
										<h6 class="dlab-title"><a [routerLink]="['/courses-details']">Learn Python – Interactive Python Tutorial</a></h6>
										<p>Lorem Ipsum is simply dummy text of the printing and typesetting.</p>
										<div class="courses-info">
											<ul>
												<li><i class="fa fa-users"></i> 20 Student </li>
											</ul>
											<span class="price">$79.00</span>
										</div>
									</div>
								</div>
							</li>
							<li class="card-container col-lg-3 col-md-6 col-sm-6 photography">
								<div class="dlab-box courses-bx">
									<div class="dlab-media"> 
										<img src="assets/images/our-work/pic2.jpg" alt="">
										<div class="user-info">
											<img src="assets/images/testimonials/pic2.jpg" alt="">
											<h6 class="title">Jack Ronan</h6>
											<div class="review">
												<ul class="item-review">
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star-half-o"></i></li>
													<li><i class="fa fa-star-o"></i></li>
												</ul>
												<span>10 Review</span>
											</div>
										</div>
									</div>
									<div class="dlab-info">
										<h6 class="dlab-title"><a [routerLink]="['/courses-details']">Learn Python – Interactive Python Tutorial</a></h6>
										<p>Lorem Ipsum is simply dummy text of the printing and typesetting.</p>
										<div class="courses-info">
											<ul>
												<li><i class="fa fa-users"></i> 20 Student </li>
											</ul>
											<span class="price">$79.00</span>
										</div>
									</div>
								</div>
							</li>
							<li class="card-container col-lg-3 col-md-6 col-sm-6 management">
								<div class="dlab-box courses-bx">
									<div class="dlab-media"> 
										<img src="assets/images/our-work/pic3.jpg" alt="">
										<div class="user-info">
											<img src="assets/images/testimonials/pic3.jpg" alt="">
											<h6 class="title">Jack Ronan</h6>
											<div class="review">
												<ul class="item-review">
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star-half-o"></i></li>
													<li><i class="fa fa-star-o"></i></li>
												</ul>
												<span>10 Review</span>
											</div>
										</div>
									</div>
									<div class="dlab-info">
										<h6 class="dlab-title"><a [routerLink]="['/courses-details']">Learn Python – Interactive Python Tutorial</a></h6>
										<p>Lorem Ipsum is simply dummy text of the printing and typesetting.</p>
										<div class="courses-info">
											<ul>
												<li><i class="fa fa-users"></i> 20 Student </li>
											</ul>
											<span class="price">$79.00</span>
										</div>
									</div>
								</div>
							</li>
							<li class="card-container col-lg-3 col-md-6 col-sm-6 advertising">
								<div class="dlab-box courses-bx">
									<div class="dlab-media"> 
										<img src="assets/images/our-work/pic4.jpg" alt="">
										<div class="user-info">
											<img src="assets/images/testimonials/pic2.jpg" alt="">
											<h6 class="title">Jack Ronan</h6>
											<div class="review">
												<ul class="item-review">
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star-half-o"></i></li>
													<li><i class="fa fa-star-o"></i></li>
												</ul>
												<span>10 Review</span>
											</div>
										</div>
									</div>
									<div class="dlab-info">
										<h6 class="dlab-title"><a [routerLink]="['/courses-details']">Learn Python – Interactive Python Tutorial</a></h6>
										<p>Lorem Ipsum is simply dummy text of the printing and typesetting.</p>
										<div class="courses-info">
											<ul>
												<li><i class="fa fa-users"></i> 20 Student </li>
											</ul>
											<span class="price">$79.00</span>
										</div>
									</div>
								</div>
							</li>
							<li class="card-container col-lg-3 col-md-6 col-sm-6 collage">
								<div class="dlab-box courses-bx">
									<div class="dlab-media"> 
										<img src="assets/images/our-work/pic5.jpg" alt="">
										<div class="user-info">
											<img src="assets/images/testimonials/pic1.jpg" alt="">
											<h6 class="title">Jack Ronan</h6>
											<div class="review">
												<ul class="item-review">
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star-half-o"></i></li>
													<li><i class="fa fa-star-o"></i></li>
												</ul>
												<span>10 Review</span>
											</div>
										</div>
									</div>
									<div class="dlab-info">
										<h6 class="dlab-title"><a [routerLink]="['/courses-details']">Learn Python – Interactive Python Tutorial</a></h6>
										<p>Lorem Ipsum is simply dummy text of the printing and typesetting.</p>
										<div class="courses-info">
											<ul>
												<li><i class="fa fa-users"></i> 20 Student </li>
											</ul>
											<span class="price">$79.00</span>
										</div>
									</div>
								</div>
							</li>
							<li class="card-container col-lg-3 col-md-6 col-sm-6 web">
								<div class="dlab-box courses-bx">
									<div class="dlab-media"> 
										<img src="assets/images/our-work/pic6.jpg" alt="">
										<div class="user-info">
											<img src="assets/images/testimonials/pic3.jpg" alt="">
											<h6 class="title">Jack Ronan</h6>
											<div class="review">
												<ul class="item-review">
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star-half-o"></i></li>
													<li><i class="fa fa-star-o"></i></li>
												</ul>
												<span>10 Review</span>
											</div>
										</div>
									</div>
									<div class="dlab-info">
										<h6 class="dlab-title"><a [routerLink]="['/courses-details']">Learn Python – Interactive Python Tutorial</a></h6>
										<p>Lorem Ipsum is simply dummy text of the printing and typesetting.</p>
										<div class="courses-info">
											<ul>
												<li><i class="fa fa-users"></i> 20 Student </li>
											</ul>
											<span class="price">$79.00</span>
										</div>
									</div>
								</div>
							</li>
							<li class="card-container col-lg-3 col-md-6 col-sm-6 photography">
								<div class="dlab-box courses-bx">
									<div class="dlab-media"> 
										<img src="assets/images/our-work/pic7.jpg" alt="">
										<div class="user-info">
											<img src="assets/images/testimonials/pic2.jpg" alt="">
											<h6 class="title">Jack Ronan</h6>
											<div class="review">
												<ul class="item-review">
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star-half-o"></i></li>
													<li><i class="fa fa-star-o"></i></li>
												</ul>
												<span>10 Review</span>
											</div>
										</div>
									</div>
									<div class="dlab-info">
										<h6 class="dlab-title"><a [routerLink]="['/courses-details']">Learn Python – Interactive Python Tutorial</a></h6>
										<p>Lorem Ipsum is simply dummy text of the printing and typesetting.</p>
										<div class="courses-info">
											<ul>
												<li><i class="fa fa-users"></i> 20 Student </li>
											</ul>
											<span class="price">$79.00</span>
										</div>
									</div>
								</div>
							</li>
							<li class="card-container col-lg-3 col-md-6 col-sm-6 management">
								<div class="dlab-box courses-bx">
									<div class="dlab-media"> 
										<img src="assets/images/our-work/pic2.jpg" alt="">
										<div class="user-info">
											<img src="assets/images/testimonials/pic2.jpg" alt="">
											<h6 class="title">Jack Ronan</h6>
											<div class="review">
												<ul class="item-review">
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star-half-o"></i></li>
													<li><i class="fa fa-star-o"></i></li>
												</ul>
												<span>10 Review</span>
											</div>
										</div>
									</div>
									<div class="dlab-info">
										<h6 class="dlab-title"><a [routerLink]="['/courses-details']">Learn Python – Interactive Python Tutorial</a></h6>
										<p>Lorem Ipsum is simply dummy text of the printing and typesetting.</p>
										<div class="courses-info">
											<ul>
												<li><i class="fa fa-users"></i> 20 Student </li>
											</ul>
											<span class="price">$79.00</span>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>