	<!-- <div cla style="background-image: url('assets\images\im20.jpeg');">
		<div>h;lkjhgbvfcvbhnjmk,l.</div>
	<img src="assets\images\im20.jpeg" class="image1"  alt="">
	</div> -->
	<div id="rev_slider_1164_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="exploration-header"
		data-source="gallery" style="background-color:transparent;padding:0px;">
		<!-- START REVOLUTION SLIDER 5.4.1 fullscreen mode -->
		<div id="rev_slider_1164_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.4.1">
			<ul>
				<!-- SLIDE  -->
				<li>
					<!-- MAIN IMAGE -->
					
					<!-- LAYER NR. 1 -->
					<!-- <div class="tp-caption tp-shape tp-shapewrapper" 
								id="slide-101-layer-14" 
								data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
								data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" 
								data-width="full"
								data-height="full"
								data-whitespace="nowrap"
								data-type="shape" 
								data-basealign="slide" 
								data-responsive_offset="off" 
								data-responsive="off"
								data-frames='[{"delay":10,"speed":1000,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":1500,"frame":"999","to":"opacity:0;","ease":"Power4.easeIn"}]'
								data-textAlign="['inherit','inherit','inherit','inherit']"
								data-paddingtop="[0,0,0,0]"
								data-paddingright="[0,0,0,0]"
								data-paddingbottom="[0,0,0,0]"
								data-paddingleft="[0,0,0,0]"
								style="z-index: 5;font-family:Open Sans; background-color:rgba(0,0,0,0.15); background-size:100%; background-repeat:no-repeat; background-position:bottom;"> 
							</div>	 -->
					<!-- LAYER NR. 2 -->
					<div class="tp-caption text1" id="slide-3204-layer-2" data-x="['center','center','center','center']"
						data-hoffset="['-210','-180','0','0']" data-y="['middle','middle','middle','middle']"
						data-voffset="['-80','-5','-180','-150']" data-width="['700','600','600','260']"
						data-fontsize="['60','45','30','24']" data-lineheight="['70','45','36','30']" data-height="none"
						data-whitespace="normal" data-type="text" data-basealign="slide" data-responsive_offset="off"
						data-responsive="off" data-textAlign="['left','left','center','center']"
						data-frames='[{"from":"y:50px;opacity:0;","speed":1500,"to":"o:1;","delay":650,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
						data-paddingtop="[0,0,0,0]" data-paddingright="[10,10,10,10
								]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
						style="  white-space: normal; color:white; font-family:'Poppins';  border-width:15px; font-weight:700; font-family:'Merriweather', serif; margin-left: 150px;">
						الريادة والإبداع
						<!-- Best Education For<br/>  EduZone University  -->
					</div>

					<!-- image -->
					<div>
						<img class="kk " src="assets\images\im20.jpeg" alt="">
					</div>
					<!-- LAYER NR. 3 -->
					<div class="tp-caption tp-caption1 text1" id="slide-3204-layer-2"
						data-x="['center','center','center','center']" data-hoffset="['-250','-250','0','0']"
						data-y="['middle','middle','middle','middle']" data-voffset="['-80','-5','-180','-150']"
						data-width="['700','600','600','260']" data-fontsize="['24','24','23','23']"
						data-lineheight="['70','45','36','30']" data-height="none" data-whitespace="normal"
						data-type="text" data-basealign="slide" data-responsive_offset="off" data-responsive="off"
						data-textAlign="['center','c','center','center']"
						data-frames='[{"from":"y:50px;opacity:0;","speed":1500,"to":"o:1;","delay":650,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
						data-paddingtop="[150,150,150,150]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
						style="  white-space: normal; color:white; font-family:'Poppins';   font-weight:100; font-family:'Merriweather', serif; padding-right: 80px; margin-top: 50px;">
						في المجال التدريبي لإثراء حياة الفرد والأسرة والمؤسسة مهنيا وشخصيا وأجتماعيا

					</div>
					<!-- LAYER NR. 5 -->
					<!-- <a class="tp-caption rev-btn bg-primary btnhover13 tp-resizeme" 
								[routerLink]="['/about-2']" target="_blank"			 
								id="slide-411-layer-13" 
								data-x="['center','center','center','center']" 
								data-hoffset="['-470','-400','-90','-70']" 
								data-y="['center','center','middle','middle']" 
								data-voffset="['150','180','-20','40']" 
								data-width="none"
								data-height="none"
								data-whitespace="['nowrap','nowrap','nowrap','nowrap']"
								data-type="button" 
								data-actions=''
								data-basealign="slide" 
								data-responsive_offset="off" 
								data-responsive="off"
								data-frames='[{"delay":"+690","speed":2000,"frame":"0","from":"y:50px;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;fb:0;","style":"c:rgba(255, 255, 255, 1.00);bg:var(--color-hover);"}]'
								data-margintop="[0,0,0,0]"
								data-marginright="[0,0,0,0]"
								data-marginbottom="[0,0,0,0]"
								data-marginleft="[0,0,0,0]"
								data-textAlign="['inherit','inherit','inherit','inherit']"
								data-paddingtop="[0,0,0,0]"
								data-paddingright="[35,35,35,20]"
								data-paddingbottom="[0,0,0,0]"
								data-paddingleft="[35,35,35,20]"
								style="z-index: 13; white-space: normal; font-size: 12px; line-height: 50px; font-weight: 500; color: rgba(255, 255, 255, 1.00); display: inline-block;font-family:Poppins;border-color:rgba(255, 255, 255, 1.00);border-style:solid;border-width:0;border-radius:4px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;text-decoration: none;">اقرأ المزيد
							</a> -->
					<a class="tp-caption rev-btn tp-resizeme btnhover13 text1" routerLink="/about-2" target="_blank"
						id="slide-411-layer-12" data-x="['center','center','center','center']"
						data-hoffset="['-290','-230','90','70']" data-y="['center','center','middle','middle']"
						data-voffset="['150','180','-20','40']" data-width="none" data-height="none"
						data-whitespace="['nowrap','nowrap','nowrap','nowrap']" data-type="button" data-actions=''
						data-basealign="slide" data-responsive_offset="off" data-responsive="off"
						data-frames='[{"delay":"+690","speed":2000,"frame":"0","from":"y:50px;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;fb:0;","style":"c:rgba(255, 255, 255, 1.00);bg:rgba(0, 0, 0, 0.0);"}]'
						data-margintop="[0,0,0,0]" data-marginright="[50,50,50,50]" data-marginbottom="[0,0,0,0]"
						data-marginleft="[0,0,0,0]" data-textAlign="['inherit','inherit','inherit','inherit']"
						data-paddingtop="[0,0,0,0]" data-paddingright="[34,34,34,19]" data-paddingbottom="[0,0,0,0]"
						data-paddingleft="[34,34,34,19]"
						style="z-index: 5; white-space: normal; font-size: 23px; line-height: 50px; font-weight: 600; color: rgb(245, 240, 240); ;font-family:Poppins;background-color:rgba(255, 255, 255, 0);border-color:rgb(105, 80, 80);border-style:solid;border-width:3px 3px 3px 3px;border-radius:4px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;text-decoration: none; margin-left: 100px;">
						<strong>مـن نحــن</strong>
					</a>
				</li>
			</ul>
			<!-- <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>	 -->
		</div>
	</div><!-- END REVOLUTION SLIDER -->



<script>
	jQuery(document).ready(function() {
		'use strict';
		dz_rev_slider_1();
		// $('.lazy').Lazy();
	}); 	
	/*ready*/
</script>