<div class="section-full p-tb50 bg-primary text-white" dir="rtl">
		<div class="container">
			<div class="row align-items-center">
			 <div class="col-md-4 m-md-b30">
					<!--	<h4>اشترك في نشرتنا الإخبارية</h4>
					<p class="m-b0">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words</p>
				-->
				</div> 
				<div class="col-md-4">
					<h4 class="text-center">البريد الإلكتروني</h4>
					<form class="dzSubscribe style1" action="script/mailchamp.php" method="post">
						<div class="dzSubscribeMsg"></div>
						<div class="input-group">
							<input name="dzEmail" required="required" type="email" class="form-control" placeholder="البريد الإلكتروني">
							<div class="input-group-addon text-center">
								<button name="submit" value="Submit" type="submit" class="site-button-secondry btnhover13">اشـتــرك</button>
							</div>
						</div>
					</form>
				</div>
				<div class="col-md-4 m-md-b30"></div>
			</div>
		</div>
	</div>