<div class="banner-langschool">
			<div class="dlab-bnr-inr banner-content" style="background-image:url(assets/images/main-slider/slide1.jpg);">
				<div class="container">
					<div class="dlab-bnr-inr-entry">
						<div class="row">
							<div class="col-sm-6 col-2"></div>
							<div class="col-sm-6 col-10">
								<div class="dlab-bnr-inr-entry text-left">
									<h4 class="text-primary">Language School</h4>
									<h1>Any Language <br/>You Want!</h1>
									<div class="input-group search-coures">
										<div>
											<select>
												<option>All Category</option>
												<option>Mathematics</option>
												<option>English</option>
												<option>Science</option>
											</select>
										</div>
										<div class="input-group-append">
											<button class="site-button btnhover17">Search</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>