
<div class="page-wraper">

    <!-- header -->
    <app-header-light3></app-header-light3>
    <!-- header END -->
    <!-- Content -->
    <div class="page-content bg-white">
        <!-- inner page banner -->
        <app-banner1 [data] = "banner"></app-banner1>
        <!-- inner page banner END -->
        <!-- contact area -->
        <div class="content-block">
			<!-- Our Services -->
			<div class="section-full bg-white content-inner">
				<app-content15></app-content15>
			</div>
			<!-- Our Services End -->
			<!-- Company staus -->
			<app-counter1></app-counter1>
			<!-- Company staus End -->
			<!-- Latest blog -->
			<app-blog1></app-blog1>
			<!-- Latest blog END -->
			<!-- Client logo -->
			<app-client1></app-client1>
			<!-- Client logo END -->
		</div>
		<!-- contact area END -->
    </div>
    <!-- Content END-->
	<!-- Footer -->
   <!-- Newsletter -->
	<app-newsletter2></app-newsletter2>
   <!-- Footer -->
    <app-footer13></app-footer13>
    <!-- Footer END-->
    <button class="scroltop fa fa-chevron-up" ></button>
</div>