<div class="section-full content-inner bg-white">
				<div class="container">
					<div class="row edu-about align-items-center">
						<div class="col-lg-6 m-b30">
							<div class="section-head m-b20">
								<h2 class="title">Learn New Skills</h2>
								<h5 class="title-small">Igniting the spark of genius in every child.</h5>
								<div class="dlab-separator bg-primary"></div>
							</div>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
							<ul class="list-check primary circle">
								<li>We provide the exceptional service wed want</li>
								<li>The Rank Of Education In Consumer's Market.</li>
								<li>You Will Never Believe These Bizarre Truth Of Education.</li>
								<li>A company involved in service, maintenance</li>
							</ul>
							<a [routerLink]="['/about-2']" class="site-button btnhover14">Read More</a>
						</div>
						<div class="col-lg-6">
							<div class="row features-area-one">
								<div class="col-lg-6 col-md-6">
									<div class="features-box style1 bg-primary m-b30">
										<div class="dlab-info">
											<i class="la la-book"></i>
											<h3 class="info">12</h3>
											<span>Expert faculty</span>
										</div>
									</div>
									<div class="features-box style1 bg-secondry">
										<div class="dlab-info">
											<i class="la la-paint-brush"></i>
											<h3 class="info">07</h3>
											<span>Special Education</span>
										</div>
									</div>
								</div>
								<div class="col-lg-6 col-md-6 m-t30">
									<div class="features-box style1 bg-secondry m-b30">
										<div class="dlab-info">
											<i class="la la-book"></i>
											<h3 class="info">05</h3>
											<span>Online Courses</span>
										</div>
									</div>
									<div class="features-box style1 bg-primary m-b30">
										<div class="dlab-info">
											<i class="la la-user-circle"></i>
											<h3 class="info">24</h3>
											<span>hour Services</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>