
<div class="page-wraper">

    <!-- header -->
    <app-header-light3></app-header-light3>
    <!-- header END -->
    <!-- Content -->
    <div class="page-content bg-white">
        <!-- inner page banner -->
        <app-banner1 [data] = "banner"></app-banner1>
        <!-- inner page banner END -->
        <!-- contact area -->
		<div class="content-area">
			<div class="container max-w900">
		
				
		
				<div class="dlab-post-text text text-right" >
					<h2 class="dlab-title  text-right" > أولاً : سياسة الخصوصية</h2>
					<ul dir="rtl" class="div4">
						<li> بحكم طبيعة الموقع حيث نقدم خدمات تدريبية فإن موقعنا يقوم بجمع بيانات المستخدم ، وهذه البيانات يتم
							معالجتها بشكل إلكتروني.</li>
		
						<li> الغرض الرئيسي للتعامل مع هذه البيانات هو تحسين تجربة العملاء، وتطوير خدماتنا.</li>
						<li> نحن نستخدم ملفات تعريف الارتباط (الكوكيز).</li>
						<li> الحفاظ على خصوصية بيانات الزوار والمستخدمين هي من أولولياتنا ، نحن لا نبيع بيانات المستخدمين ونحافظ
							على سريتها.</li>
						<li> في سبيل الحفاظ على أمن المعلومات، فنتبع الإرشادات والمعايير الصادرة من الهيئة الوطنية للأمن
							السيبراني</li>
						<li> انضمامك إلى القائمة البريدية يمنحكم ميزة تلقي رسائل بريد الإلكتروني ويمنكم إلغاء الاشتراك فيها في
							أي وقت</li>
		
					</ul>
					<h2 class=" text-right"> 	ثانياً: سياسة النزاهة الأكاديمية</h2>
					<ul dir="rtl" class="div4">
						<li>	نقدم في موقعنا الخدمات التدريبية الألكترونية وفق معايير المركز الوطني للتعليم الإلكتروني</li>
						<li>	تقضي هذه السياسة وفق طبيعة الترخيص الممنوح لنا بتطبيع مجموعة من المعايير لقبول المتدربين ، ثم منحهم شهادات الحضور</li>
						<li>	حصول المستفيد على الخدمات من خلال موقعنا وتحقيقه لمتطلبات الحصول على شهادة الحضور للدورة أو البرنامج التدريبي يكون بشكل إلكتروني</li>
						<li>	تعاطي فريق العمل لموقعنا مع متطلبات منح الشهادة وقبول المسجلين يكون بشكل مجرد من خلال المعرف الرقمي للمتدرب ودون النظر إلى بياناته الشخصية مما يحقق النزاهة في التعامل مع كل حالة</li>
					</ul>
					<h2 class=" text-right">	ثالثاً: سياسة حداثة المحتوى الإلكتروني وموافقته للقوانين والسياسات الوطنية</h2>
					<ul dir="rtl" class="div4">
						<li>	يضمن الموقع للمستفيدين من خدماته مراجعة المحتوى التدريبي المنشور من خلاله بشكل دوري والتأكد من موافقته للقوانين والسياسات الوطنية</li>
						<li>	يستقبل الموقع أي ملاحظة في هذا الأمر من زواره أو من المستفيدين من خدماته من خلال صفحة اتصل بنا ليتم مراجعتها بشكل فوري والتأكد من ملائمتها.</li>
					</ul>
					<h2 class=" text-right">	رابعاً: سياسة حقوق الملكية</h2>
					<ul dir="rtl" class="div4">
						<li>	اتباع أنظمة حقوق الملكية الفكرية في تنظيم محتوي المقررات والأنشطة الإلكترونية  ومحتوي البرامج والدورات التدريبية </li>
						<li>	عدم نشر بيانات ومعلومات المستخدمين أو أي محتوي مكتوب أو مرئي أو مسموع  خارج منظومة التعليم الإلكتروني </li>
						<li>	يضمن المركز لاصحاب الدورات المنشورة من خلاله حقهم الكامل في نشر دوراتهم، حسب الاتفاقات الموقعة بين المدربين والمركز</li>
						<li>	عند وجود اقتباسات من مراجع أخرى ، فسوف يتم الإشارة إلى ذلك ضمن المحتوى التدريبي لكل دورة أو المحتوى المنشور على موقع المركز</li>
						<li>	المحتوى الخاص بموقعنا والذي تم تطويره من قبلنا بالكامل ، فسوف يشار إلى حقوق الملكية بعبارة “حقوق الملكية محفوظة” ، وعلى الراغبين من الاستفادة منه الرجوع إلى إدارة الموقع</li>
						<li>	ابلاغ الجهات المختصة في حال ثبوت أي انتهاك لحقوق الملكية الفكرية، او وجود اعمال قرصنة الكترونية، أو أي انتهاك لنظام مكافحة جرائم المعلوماتية او محاولة اختراق موقع المركز الالكتروني او قواعد البيانات وأجهزة الحاسب الخاصة بالمركز </li>
					</ul>
					<h2 class=" text-right"class="div4">		خامساً : سياسة الحضور</h2>
					<ul dir="rtl">
						<li>	دخول المتدربين للاستفادة من الدورات المتزامنة أو الغير متزامنة يكون من خلال بيانات خاصة لكل متدرب (اسم مستخدم وكلمة مرور) </li>
						<li>	دخول المتدربين للجلسات التدريبية وخروجهم يسجل بشكل إلكتروني </li>
						<li>	يحتسب الحضور المتزامن من خلال الفصول الإفتراضية معادلاَ للحضور الإعتيادي </li>
						<li>	يحتسب الحضور بقياس نسبته إلى إجمالي وقت الدورة التدريبية بحيث لاتقل نسبة الحضور عن 75 % من الساعات المقررة للدورة .</li>
						<li>	النسبة المئوية هي الحاكم لمنح المتدرب شهادة حضور من عدمه </li>
						<li>	لايتجاوز عدد المتدربين في الفصل الافتراضي المتزامن ( 25 ) طالبا </li>
					</ul>
					<h2 class=" text-right"class="div4">	سادساً: سياسة الدعم الفني والتعليمي</h2>
					<ul dir="rtl">
						<li>	يقدم الموقع الدعم الفني من خلال صفحة اتصل بنا أو من خلال الاتصال على الرقم ( 0552060144) أو البريد الإلكتروني ethra144@gmail.com</li>
						<li>	يقدم الموقع الخدمات التدريبية للمسجلين به ويتعهد بتقديم الدعم اللازم للاستفادة من هذه الخدمات من خلال وسائل التواصل المعرفة بهذا الموقع وطوال مدة تنفيذ البرنامج</li>
					</ul>
					<h2>	سابعاً: آلية فحص أعمال المتدرب ومنع الغش وانتحال الهوية</h2>
					<ul dir="rtl" class="div4">
						<li>	يقدم الموقع طريقة فريدة في تكليف الطلاب بالأعمال والواجبات حيث تظهر على حساب الطالب ، مما يضمن تأديته لها بنفسه </li>
						<li>	تقدم بعض الاختبارات عن طريق موقع ( testmoz ) وفيه يتم تحديد دخول الطالب للاختبار من خلال معرف فريد وكلمة سر خاصة وتوقيت محدد </li>
						<li>	يلجأ المركز في دوراته إلى التقييم البديل ( اذا احتاج في الدورة للتقييم ) كالعروض التقديمية ومقاطع الفيديو التي يعملها المتدرب وملف الانجاز </li>
						<li>	ماسبق هو من باب التكامل في الموقع وإلا فإن صلاحية المركز محددة في الدورات التطويرية التي تمنح فقط شهادات حضور لاتخضع صلاحية منحها لأي اختبارات حسب نظام المؤسسة العامة للتدريب التقني والمهني </li>
					</ul>
				</div>
			</div>
		</div>
		</div>
		<app-footer13></app-footer13>
		<!-- Footer END-->
		<button class="scroltop fa fa-chevron-up" ></button>
		</div>