<div class="section-full bg-white content-inner-2 kinder-about-content bg-img-fix" style="background-image:url(assets/images/background/kindergarten/bg1.jpg);">
	<div class="about-overlay-box"></div>
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-12 col-sm-12 col-12 wow fadeIn" data-wow-delay="0.2s"  data-wow-duration="2s">
				<div class="section-head kinder-head">
					<h2 class="head-title text-yellow">Education from birth<br/>begins with us</h2>
					<p class="text-white">Our children's academy, together with one of the oldest private schools, created a joint school preparation project. The goal of the project is the harmonious development, socializationfor admission to the best educational institutions of our city.</p>
				</div>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-12 col-12"></div>
		</div>
	</div>
</div>