<div class="section-full content-inner bg-gray">
				<div class="container">
					<div class="row">
						<div class="col-lg-6 col-md-12 col-sm-12">
							<div class="section-head head-langschool m-b20">
								<h5 class="text-primary">Start Now!</h5>
								<h2 class="title">Learn a New Language!</h2>
								<p>There are many variations of passages of Lorem Ipsum typesetting industry has been the industry's standard dummy text ever since the been when an unknown printer.</p>
							</div>
						</div>
						<div class="col-lg-6 col-md-12 col-sm-12">
							<div class="row">
								<div class="col-sm-6">
									<div class="icon-bx-wraper left iconbox-lang">
										<div class="icon-bx-xs bg-primary radius"> <span class="icon-cell">1</span > </div>
										<div class="icon-content">
											<h5 class="dlab-tilte m-b0">An Easy Study Approach</h5>
										</div>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="icon-bx-wraper left iconbox-lang">
										<div class="icon-bx-xs bg-primary radius"> <span class="icon-cell">2</span > </div>
										<div class="icon-content">
											<h5 class="dlab-tilte m-b0">Free Teaching Materials</h5>
										</div>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="icon-bx-wraper left iconbox-lang">
										<div class="icon-bx-xs bg-primary radius"> <span class="icon-cell">3</span > </div>
										<div class="icon-content">
											<h5 class="dlab-tilte m-b0">A Free Mobile Application</h5>
										</div>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="icon-bx-wraper left iconbox-lang">
										<div class="icon-bx-xs bg-primary radius"> <span class="icon-cell">4</span > </div>
										<div class="icon-content">
											<h5 class="dlab-tilte m-b0">An Accredited School</h5>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>