
<div class="page-wraper">


    <!-- header -->
    <app-header-light3></app-header-light3>
    <!-- header END -->
    <!-- Content -->
    <div class="page-content">
        <!-- Error Page -->
		<div class="section-full dz_error-405 content-inner overlay-black-dark" style="background-image:url(images/background/bg1.jpg); background-position: 50% 50%;">
			<div class="container">
				<div class="row">
					<div class="col-lg-5 text-center text-gray m-tb30">
						<div class="dz_error">404</div>
					</div>
					<div class="col-lg-7 m-b30">
						<h2 class="error-head text-gray">Something went wrong !</h2>
						<p class="font-16 text-gray">We are sorry but it appears that the page you are looking for could not be found. We are working on it and we will get it fixed as soon as possible.</p>
						<div class="dlab-divider bg-gray-dark"></div>
						<p class="text-gray">You can go back to the Main Page by clicking the button.</p>
						<div class="widget">
                            <app-search-form4></app-search-form4>
                        </div>
					</div>
				</div>
			</div>
		</div>
		<!-- Error Page END -->
    </div>
    <!-- Content END-->
    <!-- Footer -->
   <!-- Newsletter -->
	<app-newsletter2></app-newsletter2>
   <!-- Footer -->
    <app-footer13></app-footer13>
    <!-- Footer END-->
    <button class="scroltop fa fa-chevron-up" ></button>
</div>