
<div class="page-wraper">

    <!-- header -->
    <app-header-light3></app-header-light3>
    <!-- header END -->
    <!-- Content -->
    <div class="page-content bg-white">
        <!-- inner page banner -->
        <app-banner1 [data] = "banner"></app-banner1>
        <!-- inner page banner END -->
        <!-- contact area -->
        <div class="section-full content-inner" dir="rtl">
            <!-- Product -->
            <div class="container">
                <div class="row">
					<!-- <div class="col-lg-3 col-md-4 col-sm-6">
						<div class="item-box m-b10">
							<div class="item-img">
								<img src="assets/images/product/item1.jpg" alt=""/>
								<div class="item-info-in full">
									<div class="center p-lr40">
										<a href="javascript:void(0);" class="site-button radius-xl m-b10 btn-block"><i class="la la-shopping-cart"></i> Add To Cart</a>
										<a href="javascript:void(0);" class="site-button radius-xl btn-block"><i class="la la-heart-o"></i> Wishlist</a>
									</div>
								</div>
							</div>
							<div class="item-info text-center text-black p-a10">
								
								<h6 class="item-title font-weight-500"><a [routerLink]="['/shop-product-details']">School Bag</a></h6>
								<ul class="item-review">
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star-half-o"></i></li>
									<li><i class="fa fa-star-o"></i></li>
								</ul>
								<h4 class="item-price"><del>$232</del> <span class="text-primary">$192</span></h4>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-4 col-sm-6">
						<div class="item-box m-b10 item-style-1">
							<div class="item-img">
								<img src="assets/images/product/item2.jpg" alt=""/>
								<div class="item-info-in full">
									<div class="center p-lr40">
										<a href="javascript:void(0);" class="site-button radius-xl m-b10 btn-block"><i class="la la-shopping-cart"></i> Add To Cart</a>
										<a href="javascript:void(0);" class="site-button radius-xl btn-block"><i class="la la-heart-o"></i> Wishlist</a>
									</div>
								</div>
							</div>
							<div class="item-info text-center text-black p-a10">
								<h6 class="item-title font-weight-500"><a [routerLink]="['/shop-product-details']">Color Pencils</a></h6>
								<ul class="item-review">
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star-half-o"></i></li>
									<li><i class="fa fa-star-o"></i></li>
								</ul>
								<h4 class="item-price"><del>$232</del> <span class="text-primary">$192</span></h4>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-4 col-sm-6">
						<div class="item-box m-b10">
							<div class="item-img">
								<img src="assets/images/product/item3.jpg" alt=""/>
								<div class="item-info-in full">
									<div class="center p-lr40">
										<a href="javascript:void(0);" class="site-button radius-xl m-b10 btn-block"><i class="la la-shopping-cart"></i> Add To Cart</a>
										<a href="javascript:void(0);" class="site-button radius-xl btn-block"><i class="la la-heart-o"></i> Wishlist</a>
									</div>
								</div>
							</div>
							<div class="item-info text-center text-black p-a10">
								<h6 class="item-title font-weight-500"><a [routerLink]="['/shop-product-details']">Pencils</a></h6>
								<ul class="item-review">
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star-half-o"></i></li>
									<li><i class="fa fa-star-o"></i></li>
								</ul>
								<h4 class="item-price"><del>$232</del> <span class="text-primary">$192</span></h4>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-4 col-sm-6">
						<div class="item-box m-b10">
							<div class="item-img">
								<img src="assets/images/product/item4.jpg" alt=""/>
								<div class="item-info-in full">
									<div class="center p-lr40">
										<a href="javascript:void(0);" class="site-button radius-xl m-b10 btn-block"><i class="la la-shopping-cart"></i> Add To Cart</a>
										<a href="javascript:void(0);" class="site-button radius-xl btn-block"><i class="la la-heart-o"></i> Wishlist</a>
									</div>
								</div>
							</div>
							<div class="item-info text-center text-black p-a10">
								<h6 class="item-title font-weight-500"><a [routerLink]="['/shop-product-details']">Stapler</a></h6>
								<ul class="item-review">
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star-half-o"></i></li>
									<li><i class="fa fa-star-o"></i></li>
								</ul>
								<h4 class="item-price"><del>$232</del> <span class="text-primary">$192</span></h4>
							</div>
						</div>
					</div> -->
					<div *ngFor='let corse of courses' class="col-lg-3 col-md-4 col-sm-6">
						<div  class="item-box m-b10">
							<div class="item-img imgSize " title="corse.name" >
							
							
								<a target="_blank" [routerLink]="['/shop-product-details',corse.id]" >
									<img   class="imgSize1" src="http://pixelserver-001-site12.ctempurl.com/images/{{corse.image}}" >
								</a>
								<!-- <div class="item-info-in full">
									<div class="center p-lr40">
										<a href="javascript:void(0);" class="site-button radius-xl m-b10 btn-block"><i class="la la-shopping-cart"></i> Add To Cart</a>
										<a href="javascript:void(0);" class="site-button radius-xl btn-block"><i class="la la-heart-o"></i> Wishlist</a>
									</div>
								</div> --> 
							</div>
							

							<div class="item-info text-center text-black p-a10">
								
								<h6 class="item-title font-weight-500">
									<a target="_blank" [routerLink]="['/shop-product-details',corse.id]" >
										{{corse.title}}
									</a>
								</h6>
								<!-- <h6 class="item-title font-weight-500">{{corse.title}}</h6> -->
								<h6 class="item-price">  {{corse.numberOfStudents}}    <span class="text-primary"> عدد الطلاب </span></h6>
								
								<h4 class="item-price">    <span class="text-primary">  تكلفة الدورة  {{corse.price}} ريال </span></h4>
								
								<ul class="item-review">
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star-half-o"></i></li>
									<li><i class="fa fa-star-o"></i></li>
								</ul>
							</div>
						</div>
						
				</div>	
            <!-- Product END -->
		</div>
		<!-- Shop Service info -->
		<!-- <app-icon-box4></app-icon-box4> -->
		<!-- Shop Service info End -->
    </div>
    <!-- Content End -->
    <!-- Newsletter -->
	<!-- <app-newsletter2></app-newsletter2> -->
   <!-- Footer -->
    <app-footer13></app-footer13>
    <!-- Footer END-->
    <button class="scroltop fa fa-chevron-up" ></button>
</div>