<footer class="site-footer">
        <div class="text-center footer-top" style="background-image:url(assets/images/pattern/pt15.png);">
            <div class="container">
                <div class="row">
					<div class="col-md-12 m-b15">
						<h3 class="font-weight-300 text-white">Let's Connect</h3>
						<div class="dlab-separator bg-white"></div>
						<p class="max-w600 m-auto">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard</p>
						<ul class="list-inline m-t20">
							<li><a class="site-button white outline circle"><i class="fa fa-facebook"></i></a></li>
							<li><a class="site-button white outline circle"><i class="fa fa-google-plus"></i></a></li>
							<li><a class="site-button white outline circle"><i class="fa fa-linkedin"></i></a></li>
							<li><a class="site-button white outline circle"><i class="fa fa-twitter"></i></a></li>
						</ul>
					</div>
				</div>
            </div>
        </div>
    </footer>