<div class="section-full bg-white content-inner kinder-about" style="background-image:url(assets/images/background/kindergarten/line.png); background-size:contain;background-repeat: no-repeat;background-position: center;">
                <div class="container">
					<div class="row">
						<div class="col-lg-7 col-md-12 col-sm-12 col-12 wow fadeIn" data-wow-delay="0.2s"  data-wow-duration="2s">
							<div class="section-head kinder-head">
								<h2 class="head-title text-primary">Do you dream that<br/>your child will become<br/>intelligent?</h2>
								<p>The concept of school and pre-school education consists of 3 programs of development and training in our academy, developed in collaboration with the institute of the children's university, which will help your children to learn subjects in the best possible way.</p>
								<a href="faqs" class="site-button button-md btnhover12 radius-xl">Learn more</a>
							</div>
						</div>
						<div class="col-lg-5 col-md-12 col-sm-12 col-12">
							<div class="icon-bx-wraper left">
								<div class="icon-lg m-b20"> <span class="icon-cell text-blue"><i class="flaticon-rattle"></i></span> </div>
								<div class="icon-content">
									<h2 class="dlab-tilte">Infants</h2>
									<p>Lectus placerat a ultricies a,interdum donec eget metus auguen u Fusce mollis imperdiet interdum donec eget metus.</p>
								</div>
							</div>
							<div class="icon-bx-wraper left">
								<div class="icon-lg m-b20"> <span class="icon-cell text-green"><i class="flaticon-bricks"></i></span> </div>
								<div class="icon-content">
									<h2 class="dlab-tilte">I myself</h2>
									<p>Lectus placerat a ultricies a,interdum donec eget metus auguen u Fusce mollis imperdiet interdum donec eget metus.</p>
								</div>
							</div>
							<div class="icon-bx-wraper left">
								<div class="icon-lg m-b20"> <span class="icon-cell text-orange"><i class="flaticon-puzzle"></i></span> </div>
								<div class="icon-content">
									<h2 class="dlab-tilte">Goodie</h2>
									<p>Lectus placerat a ultricies a,interdum donec eget metus auguen u Fusce mollis imperdiet interdum donec eget metus.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
            </div>