<div class="section-full content-inner bg-white wow fadeIn" data-wow-duration="2s" data-wow-delay="0.6s" style="background-image:url(assets/images/overlay/brilliant.png);">
				<div class="container">
					<div class="section-head text-black text-center">
						<h2 class="title">Popular Courses</h2>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry has been the industry's standard dummy text ever since the been when an unknown printer.</p>
					</div>	
					<div class="site-filters clearfix center m-b40">
						<ul class="filters" data-toggle="buttons">
							<li data-filter="" class="btn active"><input type="radio"><a href="javascript:void(0);" class="site-button outline outline-2 button-sm btn-tb"><span>All</span></a></li>
							<li data-filter="web" class="btn"><input type="radio"><a href="javascript:void(0);" class="site-button outline outline-2 button-sm btn-tb"><span>Web Design</span></a></li>
							<li data-filter="photography" class="btn"><input type="radio"><a href="javascript:void(0);" class="site-button outline outline-2 button-sm btn-tb"><span>Photography</span></a></li>
							<li data-filter="management" class="btn"><input type="radio"><a href="javascript:void(0);" class="site-button outline outline-2 button-sm btn-tb"><span>Management</span></a></li>
							<li data-filter="advertising" class="btn"><input type="radio"><a href="javascript:void(0);" class="site-button outline outline-2 button-sm btn-tb"><span>Advertising</span></a></li>
							<li data-filter="collage" class="btn"><input type="radio"><a href="javascript:void(0);" class="site-button outline outline-2 button-sm btn-tb"><span>Collage</span></a></li>
						</ul>
					</div>  
					<div class="clearfix" id="lightgallery">
						<ul id="masonry" class="portfolio-ic dlab-gallery-listing gallery-grid-4 lightgallery">
							<li class="card-container col-lg-3 col-md-6 col-sm-6 web">
								<div class="courses-bx style1">
									<div class="courses-media"> 
										<a [routerLink]="['/courses-details']"><img src="assets/images/our-work/college/pic8.jpg" alt=""></a> 
										<div class="post-meta">
											<ul>
												<li class="post-date"> <i class="fa fa-users"></i> <span> 65</span> </li>
												<li class="post-author"><i class="fa fa-comment"></i> <span> 1</span></li>
												<li class="post-comment pull-right text-primary font-weight-500">$ 690 </li>
											</ul>
										</div>
									</div>
									<div class="dlab-info">
										<div class="course-author">
											<div class="author">
												<img src="assets/images/testimonials/pic1.jpg" alt="">
											</div>
										</div>
										<div class="author-contain">
											<span>Nashid Martines</span>
										</div>
										<div class="dlab-title"><a [routerLink]="['/courses-details']">Learn Python – Interactive Python Tutorial</a></div>
									</div>
								</div>
							</li>
							<li class="card-container col-lg-3 col-md-6 col-sm-6 photography">
								<div class="courses-bx style1">
									<div class="courses-media"> 
										<a [routerLink]="['/courses-details']"><img src="assets/images/our-work/college/pic7.jpg" alt=""></a> 
										<div class="post-meta">
											<ul>
												<li class="post-date"> <i class="fa fa-users"></i> <span> 65</span> </li>
												<li class="post-author"><i class="fa fa-comment"></i> <span> 1</span></li>
												<li class="post-comment pull-right text-primary font-weight-500">$ 690 </li>
											</ul>
										</div>
									</div>
									<div class="dlab-info">
										<div class="course-author">
											<div class="author">
												<img src="assets/images/testimonials/pic2.jpg" alt="">
											</div>
										</div>
										<div class="author-contain">
											<span>Konne Backfield</span>
										</div>
										<div class="dlab-title"><a [routerLink]="['/courses-details']">Become a PHP Master and Make Money</a></div>
									</div>
								</div>
							</li>
							<li class="card-container col-lg-3 col-md-6 col-sm-6 management">
								<div class="courses-bx style1">
									<div class="courses-media"> 
										<a [routerLink]="['/courses-details']"><img src="assets/images/our-work/college/pic1.jpg" alt=""></a> 
										<div class="post-meta">
											<ul>
												<li class="post-date"> <i class="fa fa-users"></i> <span> 65</span> </li>
												<li class="post-author"><i class="fa fa-comment"></i> <span> 1</span></li>
												<li class="post-comment pull-right text-primary font-weight-500">$ 690 </li>
											</ul>
										</div>
									</div>
									<div class="dlab-info">
										<div class="course-author">
											<div class="author">
												<img src="assets/images/testimonials/pic3.jpg" alt="">
											</div>
										</div>
										<div class="author-contain">
											<span>Hackson Willingham</span>
										</div>
										<div class="dlab-title"><a [routerLink]="['/courses-details']">Learning jQuery Mobile for Beginners</a></div>
									</div>
								</div>
							</li>
							<li class="card-container col-lg-3 col-md-6 col-sm-6 advertising">
								<div class="courses-bx style1">
									<div class="courses-media"> 
										<a [routerLink]="['/courses-details']"><img src="assets/images/our-work/college/pic2.jpg" alt=""></a> 
										<div class="post-meta">
											<ul>
												<li class="post-date"> <i class="fa fa-users"></i> <span> 65</span> </li>
												<li class="post-author"><i class="fa fa-comment"></i> <span> 1</span></li>
												<li class="post-comment pull-right text-primary font-weight-500">$ 690 </li>
											</ul>
										</div>
									</div>
									<div class="dlab-info">
										<div class="course-author">
											<div class="author">
												<img src="assets/images/testimonials/pic4.jpg" alt="">
											</div>
										</div>
										<div class="author-contain">
											<span>David Matin</span>
										</div>
										<div class="dlab-title"><a [routerLink]="['/courses-details']">Introduction LearnPress – LMS plugin</a></div>
									</div>
								</div>
							</li>
							<li class="card-container col-lg-3 col-md-6 col-sm-6 collage">
								<div class="courses-bx style1">
									<div class="courses-media"> 
										<a [routerLink]="['/courses-details']"><img src="assets/images/our-work/college/pic3.jpg" alt=""></a> 
										<div class="post-meta">
											<ul>
												<li class="post-date"> <i class="fa fa-users"></i> <span> 65</span> </li>
												<li class="post-author"><i class="fa fa-comment"></i> <span> 1</span></li>
												<li class="post-comment pull-right text-primary font-weight-500">$ 690 </li>
											</ul>
										</div>
									</div>
									<div class="dlab-info">
										<div class="course-author">
											<div class="author">
												<img src="assets/images/testimonials/pic1.jpg" alt="">
											</div>
										</div>
										<div class="author-contain">
											<span>Nashid Martines</span>
										</div>
										<div class="dlab-title"><a [routerLink]="['/courses-details']">Learn Python – Interactive Python Tutorial</a></div>
									</div>
								</div>
							</li>
							<li class="card-container col-lg-3 col-md-6 col-sm-6 web">
								<div class="courses-bx style1">
									<div class="courses-media"> 
										<a [routerLink]="['/courses-details']"><img src="assets/images/our-work/college/pic4.jpg" alt=""></a> 
										<div class="post-meta">
											<ul>
												<li class="post-date"> <i class="fa fa-users"></i> <span> 65</span> </li>
												<li class="post-author"><i class="fa fa-comment"></i> <span> 1</span></li>
												<li class="post-comment pull-right text-primary font-weight-500">$ 690 </li>
											</ul>
										</div>
									</div>
									<div class="dlab-info">
										<div class="course-author">
											<div class="author">
												<img src="assets/images/testimonials/pic2.jpg" alt="">
											</div>
										</div>
										<div class="author-contain">
											<span>Konne Backfield</span>
										</div>
										<div class="dlab-title"><a [routerLink]="['/courses-details']">Become a PHP Master and Make Money</a></div>
									</div>
								</div>
							</li>
							<li class="card-container col-lg-3 col-md-6 col-sm-6 photography">
								<div class="courses-bx style1">
									<div class="courses-media"> 
										<a [routerLink]="['/courses-details']"><img src="assets/images/our-work/college/pic5.jpg" alt=""></a> 
										<div class="post-meta">
											<ul>
												<li class="post-date"> <i class="fa fa-users"></i> <span> 65</span> </li>
												<li class="post-author"><i class="fa fa-comment"></i> <span> 1</span></li>
												<li class="post-comment pull-right text-primary font-weight-500">$ 690 </li>
											</ul>
										</div>
									</div>
									<div class="dlab-info">
										<div class="course-author">
											<div class="author">
												<img src="assets/images/testimonials/pic3.jpg" alt="">
											</div>
										</div>
										<div class="author-contain">
											<span>Hackson Willingham</span>
										</div>
										<div class="dlab-title"><a [routerLink]="['/courses-details']">Learning jQuery Mobile for Beginners</a></div>
									</div>
								</div>
							</li>
							<li class="card-container col-lg-3 col-md-6 col-sm-6 management">
								<div class="courses-bx style1">
									<div class="courses-media"> 
										<a [routerLink]="['/courses-details']"><img src="assets/images/our-work/college/pic6.jpg" alt=""></a> 
										<div class="post-meta">
											<ul>
												<li class="post-date"> <i class="fa fa-users"></i> <span> 65</span> </li>
												<li class="post-author"><i class="fa fa-comment"></i> <span> 1</span></li>
												<li class="post-comment pull-right text-primary font-weight-500">$ 690 </li>
											</ul>
										</div>
									</div>
									<div class="dlab-info">
										<div class="course-author">
											<div class="author">
												<img src="assets/images/testimonials/pic4.jpg" alt="">
											</div>
										</div>
										<div class="author-contain">
											<span>David Matin</span>
										</div>
										<div class="dlab-title"><a [routerLink]="['/courses-details']">Introduction LearnPress – LMS plugin</a></div>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>