
					<div class="comments-area" id="comments">
						<div class="section-head">
							<h5 class="widget-title style-1">Comments</h5>
						</div>
						<!-- comment list END -->
						<ol class="comment-list">
							<li class="comment">
								<div class="comment-body">
									<div class="comment-author vcard"> 
										<img  class="avatar photo" src="assets/images/testimonials/pic2.jpg" alt=""> 
										<cite class="fn">Stacy poe</cite> 
										<span class="says">says:</span> 
										 <div class="comment-meta"> <a href="javascript:void(0);">October 6, 2015 at 7:15 am</a> </div>
										<div class="reply"> <a href="javascript:void(0);" class="comment-reply-link">Reply</a> </div>
									</div>
									<div class="comment-content">
										<p>Aliquam viverra, ligula at mattis pharetra, risus nibh dignissim le in luctus odio nulla in nunc. Fusce a purus sed mauris faucibus suscipit.</p>
									</div>
								</div>
								<ol class="children">
									<li class="comment odd parent">
										<div class="comment-body">
											<div class="comment-author vcard"> 
												<img  class="avatar photo" src="assets/images/testimonials/pic3.jpg" alt=""> 
												<cite class="fn">Muhammad Clay</cite> 
												<span class="says">says:</span> 
												 <div class="comment-meta"> <a href="javascript:void(0);">October 6, 2015 at 7:15 am</a> </div>
												<div class="reply"> <a href="javascript:void(0);" class="comment-reply-link">Reply</a> </div>
											</div>
											<div class="comment-content">
												<p>Aliquam viverra, ligula at mattis pharetra, risus nibh dignissim le in luctus odio nulla in nunc. Fusce a purus sed mauris faucibus suscipit.</p>
											</div>
										</div>
									</li>
								</ol>
								<!-- list END -->
							</li>
							<li class="comment">
								<div class="comment-body">
									<div class="comment-author vcard"> 
										<img  class="avatar photo" src="assets/images/testimonials/pic2.jpg" alt=""> 
										<cite class="fn">Leo Tucker</cite> 
										<span class="says">says:</span> 
										 <div class="comment-meta"> <a href="javascript:void(0);">October 6, 2015 at 7:15 am</a> </div>
										<div class="reply"> <a href="javascript:void(0);" class="comment-reply-link">Reply</a> </div>
									</div>
									<div class="comment-content">
										<p>Aliquam viverra, ligula at mattis pharetra, risus nibh dignissim le in luctus odio nulla in nunc. Fusce a purus sed mauris faucibus suscipit.</p>
									</div>
								</div>
								<ol class="children">
									<li class="comment odd parent">
										<div class="comment-body">
											<div class="comment-author vcard"> 
												<img  class="avatar photo" src="assets/images/testimonials/pic3.jpg" alt=""> 
												<cite class="fn">Shailja Reddy</cite> 
												<span class="says">says:</span> 
												 <div class="comment-meta"> <a href="javascript:void(0);">October 6, 2015 at 7:15 am</a> </div>
												<div class="reply"> <a href="javascript:void(0);" class="comment-reply-link">Reply</a> </div>
											</div>
											<div class="comment-content">
												<p>Aliquam viverra, ligula at mattis pharetra, risus nibh dignissim le in luctus odio nulla in nunc. Fusce a purus sed mauris faucibus suscipit.</p>
											</div>
										</div>
									</li>
								</ol>
								<!-- list END -->
							</li>
						</ol>
						<!-- comment list END -->
					</div>
				