<div class="section-full bg-img-fix content-inner-2 overlay-black-dark contact-action style2" style="background-image:url(assets/images/background/bg2.jpg);">
				<div class="container">
					<div class="row relative">
						<div class="col-md-12 col-lg-8 wow fadeInLeft" data-wow-duration="2s" data-wow-delay="0.2s">
							<div class="contact-no-area">
								<h2 class="title text-center">مركز إثراء الحياة   
									 صمم باحترافية عالية  ومهارات تقنية مبتكرة لتواكب الحداثة والجدة  ومتطلبات التدريب الاحترافي</h2>
								<!-- <form action="script/mailchamp.php" method="post" class="dzSubscribe subscribe-box row align-items-center sp15">
									<div class="col-lg-12">
										<div class="dzSubscribeMsg"></div>
									</div>
									<div class="col-lg-4 col-md-4">
										<div class="input-group">
											<input name="dzName" required="required" type="text" class="form-control" placeholder="Your Name ">
										</div>
									</div>
									<div class="col-lg-4 col-md-4">
										<div class="input-group">
											<input name="dzEmail" required="required" type="email" class="form-control" placeholder="Your Email Address">
										</div>
									</div>
									<div class="col-lg-4 col-md-4">
										<div class="input-group">
											<button name="submit" value="Submit" type="submit" class="site-button btn-block btnhover13">Subscribe</button>
										</div>
									</div>
								</form> -->
							</div>
						</div>
						<div class="col-md-12 col-lg-4 contact-img-bx wow fadeInRight" data-wow-duration="2s" data-wow-delay="0.2s">
							<img class="im22" src="assets/images/im11.jpeg" alt="">	
						</div>
					</div>
				</div>
			</div>