<div class="section-full dlab-we-find bg-img-fix p-t20 p-b20 bg-white wow fadeIn" data-wow-duration="2s" data-wow-delay="0.6s">
				<div class="container">
					<div class="section-content">
						<div class="client-logo-carousel mfp-gallery gallery owl-btn-center-lr owl-carousel owl-btn-3">
							<div class="item">
								<div class="ow-client-logo">
									<div class="client-logo"><a href="javascript:void(0);"><img src="assets/images/client-logo/logo1.jpg" alt=""></a></div>
								</div>
							</div>
							<div class="item">
								<div class="ow-client-logo">
									<div class="client-logo"> <a href="javascript:void(0);"><img src="assets/images/client-logo/logo2.jpg" alt=""></a> </div>
								</div>
							</div>
							<div class="item">
								<div class="ow-client-logo">
									<div class="client-logo"> <a href="javascript:void(0);"><img src="assets/images/client-logo/logo1.jpg" alt=""></a> </div>
								</div>
							</div>
							<div class="item">
								<div class="ow-client-logo">
									<div class="client-logo"> <a href="javascript:void(0);"><img src="assets/images/client-logo/logo3.jpg" alt=""></a> </div>
								</div>
							</div>
							<div class="item">
								<div class="ow-client-logo">
									<div class="client-logo"> <a href="javascript:void(0);"><img src="assets/images/client-logo/logo4.jpg" alt=""></a> </div>
								</div>
							</div>
							<div class="item">
								<div class="ow-client-logo">
									<div class="client-logo"> <a href="javascript:void(0);"><img src="assets/images/client-logo/logo3.jpg" alt=""></a> </div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>