<div class="row teacher-about">
				<div class="col-md-5">
					<h2 class="">Hey there, my name is John Doe. I'm the founder of the EduZone coaching classes.</h2>
					<img src="assets/images/sign.png" alt="">
				</div>
				<div class="col-md-7">
					<p class="">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents. When, while the lovely valley teems with vapour around me, and the meridian sun strikes the upper surface of the impenetrable foliage of my trees, and but a few stray gleams steal into the inner sanctuary.</p>
				</div>
			</div>