
<div class="page-wraper kids-school">

	<!-- header -->
    <app-header-light10></app-header-light10>
    <!-- header END -->
	<!-- Content -->
    <div class="page-content bg-white">	
		<!-- Slider -->
		<app-slider6></app-slider6>
		<!-- Slider END -->
        <!-- contact area -->
        <div class="content-block">
			<!-- Content Section -->
			<app-gallery3></app-gallery3>
			<!-- Content Section End -->
			<!-- Latest From Blog -->
			<app-events1></app-events1>
			<!-- Latest From Blog End -->
		</div>
		<!-- contact area END -->
    </div>
    <!-- Content END -->
	<app-newsletter2></app-newsletter2>
     <!-- Footer -->
    <app-footer3></app-footer3>
    <!-- Footer END -->
    <button class="scroltop style1 white icon-up" type="button"><i class="fa fa-arrow-up"></i></button>
</div>