<div class="widget widget_archive">
                                <h5 class="widget-title style-1">Categories List</h5>
                                <ul>
                                    <li><a href="javascript:void(0);">Lifestyle</a></li>
                                    <li><a href="javascript:void(0);">Creative</a></li>
                                    <li><a href="javascript:void(0);">Education</a></li>
                                    <li><a href="javascript:void(0);">Events</a></li>
                                    <li><a href="javascript:void(0);">Sports</a></li>
                                </ul>
                            </div>