<div dir="rtl" class="feedback-flyout " [class.active]="active" (click)="onClick()">
	<div class="label"><span> للتواصل</span>
	  <i class="fa fa-phone"></i>
  
	</div>
  
  </div>
  <div class="sidebar-contact " [class.active]="active">
	<i class="fa fa-times" (click)="onClick()"></i>
	<h6 class="text-center text-danger">لحجز دورات تدريبية </h6>
	<div class="scroll">
	  <ul class="numbers ">
  
		<li>
		  <i class="fa fa-phone"></i>
		  <a href="tel:+966 0552060144">+966 0552060144</a>
		</li>
		<li>
		  <i class="fa fa-fax"></i>
		  <a class="text-center" href="fax:0552060144">0552060144</a>
		</li>
		<li>
		  <i class="fa fa-envelope"></i>
		  <a href="gmail:">ethra144@gmail.com</a>
		</li>
	  </ul>
	</div>
  
  
  </div>
  