
<div class="page-wraper">
	<!-- header -->
    <app-header-light6></app-header-light6>
    <!-- header END -->
	<!-- Content -->
    <div class="page-content bg-white">	
		<!-- inner page banner -->
        <app-search-form1></app-search-form1>
        <!-- inner page banner END -->
        <!-- contact area -->
        <div class="content-block">
			<!-- Content Section -->
			<app-icon-box2></app-icon-box2>
			<!-- Courses Category -->
			<app-content8></app-content8>
			<!-- Courses Category End -->
			<!-- Call To Action -->
			<app-call-to-action2></app-call-to-action2>
			<!-- Call To Action End -->
			<!-- Courses -->
			<app-courses4></app-courses4>
			<!-- Courses End -->
			<!-- Testimonials -->
			<app-price-table1></app-price-table1>
			<!-- Testimonials End -->
			<!-- Latest blog -->
			<app-events2></app-events2>
			<!-- Latest blog END -->
		</div>
		<!-- contact area END -->
    </div>
    <!-- Content END -->
	<app-newsletter2></app-newsletter2>
     <!-- Footer -->
    <app-footer3></app-footer3>