<div class="section-full bg-white content-inner-1 text-center">
                <div class="container">
					<div class="section-head kinder-head">
						<h2 class="head-title text-primary">Welcome to  Kids Center</h2>
						<p>Fill your child's childhood with the joy of learning!</p>
					</div>
					<div class="row">
						<div class="col-lg-3 col-md-6 col-sm-6 col-12 wow fadeIn" data-wow-delay="0.2s"  data-wow-duration="2s">
							<div class="icon-bx-wraper sr-iconbox m-b20">
								<div class="icon-lg m-b20">
									<a href="javascript:void(0);" class="icon-cell"><img src="assets/images/icon/kindergarten/icon1.jpg" alt=""/></a>
								</div>
								<div class="icon-content">
									<h6 class="dlab-tilte">To Think Creatively<br/>and Create</h6>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 col-sm-6 col-12 wow fadeIn" data-wow-delay="0.4s"  data-wow-duration="2s">
							<div class="icon-bx-wraper sr-iconbox m-b20">
								<div class="icon-lg m-b20">
									<a href="javascript:void(0);" class="icon-cell"><img src="assets/images/icon/kindergarten/icon2.jpg" alt=""/></a>
								</div>
								<div class="icon-content">
									<h6 class="dlab-tilte">To Feel Fne and to<br/>Understand Emotions</h6>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 col-sm-6 col-12 wow fadeIn" data-wow-delay="0.6s"  data-wow-duration="2s">
							<div class="icon-bx-wraper sr-iconbox m-b20">
								<div class="icon-lg m-b20">
									<a href="javascript:void(0);" class="icon-cell"><img src="assets/images/icon/kindergarten/icon3.jpg" alt=""/></a>
								</div>
								<div class="icon-content">
									<h6 class="dlab-tilte">To be Independent<br/>and Active</h6>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 col-sm-6 col-12 wow fadeIn" data-wow-delay="0.8s"  data-wow-duration="2s">
							<div class="icon-bx-wraper sr-iconbox">
								<div class="icon-lg m-b20">
									<a href="javascript:void(0);" class="icon-cell"><img src="assets/images/icon/kindergarten/icon4.jpg" alt=""/></a>
								</div>
								<div class="icon-content">
									<h6 class="dlab-tilte">To Apply<br/>Knowledge in Life</h6>
								</div>
							</div>
						</div>
					</div>
				</div>
            </div>