
<div class="page-wraper">

    <!-- header -->
    <app-header-light3></app-header-light3>
    <!-- header END -->
    <!-- Content -->
    <div class="page-content bg-white">
		<!-- inner page banner -->
        <app-banner1 [data] = "banner"></app-banner1>
        <!-- inner page banner END -->
        <!-- contact area -->
        <div class="content-block">
			<!-- About Services info -->
			<app-content11></app-content11>
			<!-- About Services info END -->
			<!-- Company staus -->
			<app-counter1></app-counter1>
			<!-- Company staus End -->
			<!-- Team Section -->
			<app-team3></app-team3>
			<!-- Team Section END -->
			<!-- Latest blog -->
			<app-blog1></app-blog1>
			<!-- Latest blog END -->
		</div>
		<!-- contact area END -->
    </div>
    <!-- Content END -->
	<!-- Newsletter -->
	<app-newsletter2></app-newsletter2>
   <!-- Footer -->
    <app-footer13></app-footer13>
    <!-- Footer END-->
    <button class="scroltop fa fa-chevron-up"></button>
</div>