<div class="section-full content-inner bg-gray wow fadeIn" data-wow-duration="2s" data-wow-delay="0.6s">
				<div class="container">
					<div class="section-head text-black text-center">
						<h2 class="title">Our Letest News</h2>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry has been the industry's standard dummy text ever since the been when an unknown printer.</p>
					</div>
					<div class="blog-carousel owl-carousel owl-btn-3 owl-btn-center-lr">
						<div class="item">
							<div class="blog-post blog-grid blog-rounded blog-effect1">
                                <div class="dlab-post-media dlab-img-effect"> 
									<a [routerLink]="['/blog-single']"><img src="assets/images/our-work/college/pic6.jpg" alt=""></a> 
								</div>
								<div class="dlab-info p-a20">
                                    <div class="dlab-post-meta">
										<ul>
											<li class="post-author"> <i class="la la-user-circle"></i> By <a href="javascript:void(0);">Jamie</a> </li>
											<li class="post-tag"> <a href="javascript:void(0);">KNOWLEDGE</a> </li>
										</ul>
									</div>
									<div class="dlab-post-title ">
                                        <h4 class="post-title"><a [routerLink]="['/blog-single']">Why is Early Education Essential?</a></h4>
                                    </div>
                                    <div class="dlab-post-text">
                                        <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary.</p>
                                    </div>
									<div class="post-footer">
										<div class="dlab-post-meta">
											<ul>
												<li class="post-date"> <i class="la la-clock"></i> <strong>01 June</strong> <span> 2020</span> </li>
											</ul>
										</div>
										<ul class="dlab-social-icon dez-border">
											<li><a class="site-button facebook circle-sm fa fa-facebook" href="javascript:void(0);"></a></li>
											<li><a class="site-button twitter circle-sm fa fa-twitter " href="javascript:void(0);"></a></li>
											<li><a class="site-button linkedin circle-sm fa fa-linkedin " href="javascript:void(0);"></a></li>
											<li><a class="site-button instagram  circle-sm fa fa-instagram  " href="javascript:void(0);"></a></li>
										</ul>
									</div>
                                </div>
                            </div>
						</div>
						<div class="item">
							<div class="blog-post blog-grid blog-rounded blog-effect1">
                                <div class="dlab-post-media dlab-img-effect"> 
									<a [routerLink]="['/blog-single']"><img src="assets/images/our-work/college/pic4.jpg" alt=""></a> 
								</div>
								<div class="dlab-info p-a20">
									<div class="dlab-post-meta">
										<ul>
											<li class="post-author"> <i class="la la-user-circle"></i> By <a href="javascript:void(0);">Caroline</a> </li>
											<li class="post-tag"> <a href="javascript:void(0);">Education</a> </li>
										</ul>
									</div>
									<div class="dlab-post-title ">
                                        <h4 class="post-title"><a [routerLink]="['/blog-single']">Five Things Nobody Told You About</a></h4>
                                    </div>
                                    <div class="dlab-post-text">
                                        <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary.</p>
                                    </div>
									<div class="post-footer">
										<div class="dlab-post-meta">
											<ul>
												<li class="post-date"> <i class="la la-clock"></i> <strong>01 June</strong> <span> 2020</span> </li>
											</ul>
										</div>
										<ul class="dlab-social-icon dez-border">
											<li><a class="site-button facebook circle-sm fa fa-facebook" href="javascript:void(0);"></a></li>
											<li><a class="site-button twitter circle-sm fa fa-twitter " href="javascript:void(0);"></a></li>
											<li><a class="site-button linkedin circle-sm fa fa-linkedin " href="javascript:void(0);"></a></li>
											<li><a class="site-button instagram circle-sm fa fa-instagram  " href="javascript:void(0);"></a></li>
										</ul>
									</div>
                                </div>
                            </div>
						</div>
						<div class="item">
							<div class="blog-post blog-grid blog-rounded blog-effect1">
                                <div class="dlab-post-media dlab-img-effect"> 
									<a [routerLink]="['/blog-single']"><img src="assets/images/our-work/college/pic2.jpg" alt=""></a> 
								</div>
								<div class="dlab-info p-a20 bg-gray">
                                    <div class="dlab-post-meta">
										<ul>
											<li class="post-author"> <i class="la la-user-circle"></i> By <a href="javascript:void(0);">Reuben</a> </li>
											<li class="post-tag"> <a href="javascript:void(0);">Event</a> </li>
										</ul>
									</div>
									<div class="dlab-post-title">
                                        <h4 class="post-title"><a [routerLink]="['/blog-single']">The Shocking Revelation of Education.</a></h4>
                                    </div>
                                    <div class="dlab-post-text">
                                        <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary.</p>
                                    </div>
									<div class="post-footer">
										<div class="dlab-post-meta">
											<ul>
												<li class="post-date"> <i class="la la-clock"></i> <strong>01 June</strong> <span> 2020</span> </li>
											</ul>
										</div>
										<ul class="dlab-social-icon dez-border">
											<li><a class="site-button facebook circle-sm fa fa-facebook" href="javascript:void(0);"></a></li>
											<li><a class="site-button twitter circle-sm fa fa-twitter " href="javascript:void(0);"></a></li>
											<li><a class="site-button linkedin circle-sm fa fa-linkedin " href="javascript:void(0);"></a></li>
											<li><a class="site-button instagram circle-sm fa fa-instagram  " href="javascript:void(0);"></a></li>
										</ul>
									</div>
                                </div>
                            </div>
						</div>
					</div>
				</div>
			</div>