<div class="section-full bg-white content-inner">
				<div class="container">
					<div class="section-head text-center ">
						<h2 class="title">Expand Your Knowledge & Acheive Your Goal</h2>
						<p>There are many variations of passages of Lorem Ipsum typesetting industry has been the industry's standard dummy text ever since the been when an unknown printer.</p>
					</div>
					<div class="row">
						<div class="col-lg-6 col-md-6 m-b30 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.3s">
							<a href="javascript:void(0);" class="category-box dlab-box">
								<div class="dlab-media dlab-img-effect zoom">
									<img src="assets/images/gallery/pic1.jpg" alt="">
								</div>
								<div class="icon-content">
									<h2 class="dlab-tilte">Web Developer</h2>
									<p>+18 Courses</p>
								</div>
							</a>
						</div>
						<div class="col-lg-3 col-md-6 m-b30 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.9s">
							<a href="javascript:void(0);" class="category-box dlab-box">
								<div class="dlab-media dlab-img-effect zoom">
									<img src="assets/images/gallery/pic2.jpg" alt="">
								</div>
								<div class="icon-content">
									<h2 class="dlab-tilte">Photography</h2>
									<p>+23 Courses</p>
								</div>
							</a>
						</div>
						<div class="col-lg-3 col-md-6 m-b30 wow fadeInUp" data-wow-duration="2s" data-wow-delay="1.2s">
							<a href="javascript:void(0);" class="category-box dlab-box">
								<div class="dlab-media dlab-img-effect zoom">
									<img src="assets/images/gallery/pic3.jpg" alt="">
								</div>
								<div class="icon-content">
									<h2 class="dlab-tilte">business study</h2>
									<p>+10 Courses</p>
								</div>
							</a>
						</div>
						<div class="col-lg-3 col-md-6 m-b30 wow fadeInUp" data-wow-duration="2s" data-wow-delay="1.5s">
							<a href="javascript:void(0);" class="category-box dlab-box">
								<div class="dlab-media dlab-img-effect zoom">
									<img src="assets/images/gallery/pic4.jpg" alt="">
								</div>
								<div class="icon-content">
									<h2 class="dlab-tilte">Health & fitness</h2>
									<p>+18 Courses</p>
								</div>
							</a>
						</div>
						<div class="col-lg-3 col-md-6 m-b30 wow fadeInUp" data-wow-duration="2s" data-wow-delay="1.8s">
							<a href="javascript:void(0);" class="category-box dlab-box">
								<div class="dlab-media dlab-img-effect zoom">
									<img src="assets/images/gallery/pic5.jpg" alt="">
								</div>
								<div class="icon-content">
									<h2 class="dlab-tilte">Mathematics</h2>
									<p>+15 Courses</p>
								</div>
							</a>
						</div>
						<div class="col-lg-6 col-md-6 m-b30 wow fadeInUp" data-wow-duration="2s" data-wow-delay="2.1s">
							<a href="javascript:void(0);" class="category-box dlab-box">
								<div class="dlab-media dlab-img-effect zoom">
									<img src="assets/images/gallery/pic6.jpg" alt="">
								</div>
								<div class="icon-content">
									<h2 class="dlab-tilte">marketing</h2>
									<p>+10 Courses</p>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>