<div class="section-full">
				<div class="container services-masonry">
					<div class="row spno" id="masonry">
						<div class="card-container col-xl-3 col-lg-4 col-sm-6 wow fadeIn" data-wow-duration="2s" data-wow-delay="0.2s">
							<div class="dlab-box service-box style2">
								<div class="dlab-media dlab-img-effect zoom">
									<img src="assets/images/our-work/college/pic9.jpg" alt="">
								</div>
							</div>
						</div>
						<div class="card-container col-xl-3 col-lg-4 col-sm-6 bg-primary wow fadeIn" data-wow-duration="2s" data-wow-delay="0.4s">
							<div class="dlab-box service-box style2">
								<div class="dlab-media dlab-img-effect zoom">
									<img src="assets/images/our-work/college/pic15.jpg" alt="">
									<div class="dlab-info-has no-hover">
										<i class="las la-paint-brush"></i>
										<h2 class="title text-white">Special Education</h2>
										<a [routerLink]="['/services-2']" class="site-button-link white">Read More</a>
									</div>
								</div>
							</div>
						</div>
						<div class="card-container col-xl-6 col-lg-4 col-sm-6 wow fadeIn" data-wow-duration="2s" data-wow-delay="0.6s">
							<div class="dlab-box service-box style2">
								<div class="dlab-media dlab-img-effect zoom">
									<img src="assets/images/our-work/college/pic13.jpg" alt="">
								</div>
							</div>
						</div>
						<div class="card-container col-xl-3 col-lg-4 col-sm-6 bg-secondry text-white wow fadeIn" data-wow-duration="2s" data-wow-delay="0.8s">
							<div class="dlab-box service-box style2">
								<div class="dlab-media dlab-img-effect zoom">
									<img src="assets/images/our-work/college/pic16.jpg" alt="">
									<div class="dlab-info-has  no-hover">
										<i class="las la-calendar"></i>
										<h2 class="title text-white">Events</h2>
										<a [routerLink]="['/services-2']" class="site-button-link white">Read More</a>
									</div>
								</div>
							</div>
						</div>
						<div class="card-container col-xl-3 col-lg-4 col-sm-6 text-white wow fadeIn" data-wow-duration="2s" data-wow-delay="0.2s">
							<div class="dlab-box service-box style2">
								<div class="dlab-media dlab-img-effect zoom">
									<img src="assets/images/our-work/college/pic11.jpg" alt="">
									<div class="dlab-info-has no-hover bg-green">
										<i class="las la-book"></i>
										<h2 class="title text-white">Full Day Session</h2>
										<a [routerLink]="['/services-2']" class="site-button-link white">Read More</a>
									</div>
								</div>
							</div>
						</div>
						<div class="card-container col-xl-6 col-lg-4 col-sm-6 bg-primary text-white wow fadeIn" data-wow-duration="2s" data-wow-delay="0.4s">
							<div class="dlab-box service-box style2">
								<div class="dlab-media dlab-img-effect zoom">
									<img src="assets/images/our-work/college/pic12.jpg" alt="">
								</div>
							</div>
						</div>
						<div class="card-container col-xl-3 col-lg-4 col-sm-6 wow fadeIn" data-wow-duration="2s" data-wow-delay="0.6s">
							<div class="dlab-box service-box style2">
								<div class="dlab-media dlab-img-effect zoom">
									<img src="assets/images/our-work/college/pic17.jpg" alt="">
									<div class="dlab-info-has no-hover bg-primary">
										<i class="las la-graduation-cap"></i>
										<h2 class="title">Pre Classes</h2>
										<a [routerLink]="['/services-2']" class="site-button-link">Read More</a>
									</div>
								</div>
							</div>
						</div>
						<div class="card-container col-xl-3 col-lg-4 col-sm-6 bg-orange text-white wow fadeIn" data-wow-duration="2s" data-wow-delay="0.8s">
							<div class="dlab-box service-box style2">
								<div class="dlab-media dlab-img-effect zoom">
									<img src="assets/images/our-work/college/pic11.jpg" alt="">
								</div>
							</div>
						</div>
						<div class="card-container col-xl-3 col-lg-4 col-sm-6 bg-white wow fadeIn" data-wow-duration="2s" data-wow-delay="0.2s">
							<div class="dlab-box service-box style2">
								<div class="dlab-media dlab-img-effect zoom">
									<img src="assets/images/our-work/college/pic10.jpg" alt="">
								</div>
							</div>
						</div>
						<div class="card-container col-xl-3 col-lg-4 col-sm-6 text-white wow fadeIn" data-wow-duration="2s" data-wow-delay="0.4s">
							<div class="dlab-box service-box style2">
								<div class="dlab-media dlab-img-effect zoom">
									<img src="assets/images/our-work/college/pic14.jpg" alt="">
									<div class="dlab-info-has no-hover">
										<i class="las la-user"></i>
										<h2 class="title text-white">Qualified Teachers</h2>
										<a [routerLink]="['/services-2']" class="site-button-link white">Read More</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>