
<div class="page-wraper" >

    <!-- header -->
    <app-header-light3></app-header-light3>
    <!-- header END -->
    <!-- Content -->
    <div class="page-content bg-white">
        <!-- inner page banner -->
        <app-banner1 [data] = "banner"></app-banner1>
        <!-- inner page banner END -->
        <!-- contact area -->
        <div class="content-block">
			<!-- Our Team -->
			<div class="section-full content-inner" dir="rtl">
				<div class="container">
					<div class="row">
						<div class="col-lg-3 col-md-6 col-sm-6" *ngFor="let teach of teachers">
							<div  
								class="dlab-box m-b30 dlab-team1">
								<div class="dlab-media">
									<!-- <a [routerLink]="['/teachers-profile',teach.id]">
										<img width="358" height="460" alt="" src="http://pixelserver-001-site12.ctempurl.com/images/{{teach.image}}">
									</a> -->
									<!-- <a [routerLink]="['/teachers-profile',teach.id]"> -->
										<img width="358" height="460" alt="" src="http://pixelserver-001-site12.ctempurl.com/images/{{teach.image}}">
									<!-- </a> -->
								</div>
								<div class="dlab-info">
									<h4 class="dlab-title">{{teach.name}}</h4>
									<!-- <h4 class="dlab-title"><a [routerLink]="['/teachers-profile',teach.id]">{{teach.name}}</a></h4> -->
									<!-- <span class="dlab-position">{{teach.title}}</span> -->
									<ul class="dlab-social-icon dez-border">
										<li><a class="fa fa-facebook" href="javascript:void(0);"></a></li>
										<li><a class="fa fa-twitter" href="javascript:void(0);"></a></li>
										<li><a class="fa fa-linkedin" href="javascript:void(0);"></a></li>
										<li><a class="fa fa-pinterest" href="javascript:void(0);"></a></li>
									</ul>
								</div>
							</div>
						</div>
						<!-- <div class="col-lg-3 col-md-6 col-sm-6">
							<div class="dlab-box m-b30 dlab-team1">
								<div class="dlab-media">
									<a [routerLink]="['/teachers-profile']">
										<img width="358" height="460" alt="" src="assets/images/our-team/pic2.jpg">
									</a>
								</div>
								<div class="dlab-info">
									<h4 class="dlab-title"><a [routerLink]="['/teachers-profile']">Konne Backfield</a></h4>
									<span class="dlab-position">Designer</span>
									<ul class="dlab-social-icon dez-border">
										<li><a class="fa fa-facebook" href="javascript:void(0);"></a></li>
										<li><a class="fa fa-twitter" href="javascript:void(0);"></a></li>
										<li><a class="fa fa-linkedin" href="javascript:void(0);"></a></li>
										<li><a class="fa fa-pinterest" href="javascript:void(0);"></a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 col-sm-6">
							<div class="dlab-box m-b30 dlab-team1">
								<div class="dlab-media">
									<a [routerLink]="['/teachers-profile']">
										<img width="358" height="460" alt="" src="assets/images/our-team/pic3.jpg">
									</a>
								</div>
								<div class="dlab-info">
									<h4 class="dlab-title"><a [routerLink]="['/teachers-profile']">Hackson Willingham</a></h4>
									<span class="dlab-position">Developer</span>
									<ul class="dlab-social-icon dez-border">
										<li><a class="fa fa-facebook" href="javascript:void(0);"></a></li>
										<li><a class="fa fa-twitter" href="javascript:void(0);"></a></li>
										<li><a class="fa fa-linkedin" href="javascript:void(0);"></a></li>
										<li><a class="fa fa-pinterest" href="javascript:void(0);"></a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 col-sm-6">
							<div class="dlab-box m-b30 dlab-team1">
								<div class="dlab-media">
									<a [routerLink]="['/teachers-profile']">
										<img width="358" height="460" alt="" src="assets/images/our-team/pic4.jpg">
									</a>
								</div>
								<div class="dlab-info">
									<h4 class="dlab-title"><a [routerLink]="['/teachers-profile']">Konne Backfield</a></h4>
									<span class="dlab-position">Manager</span>
									<ul class="dlab-social-icon dez-border">
										<li><a class="fa fa-facebook" href="javascript:void(0);"></a></li>
										<li><a class="fa fa-twitter" href="javascript:void(0);"></a></li>
										<li><a class="fa fa-linkedin" href="javascript:void(0);"></a></li>
										<li><a class="fa fa-pinterest" href="javascript:void(0);"></a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 col-sm-6">
							<div class="dlab-box m-b30 dlab-team1">
								<div class="dlab-media">
									<a [routerLink]="['/teachers-profile']">
										<img width="358" height="460" alt="" src="assets/images/our-team/pic5.jpg">
									</a>
								</div>
								<div class="dlab-info">
									<h4 class="dlab-title"><a [routerLink]="['/teachers-profile']">Nashid Martines</a></h4>
									<span class="dlab-position">Director</span>
									<ul class="dlab-social-icon dez-border">
										<li><a class="fa fa-facebook" href="javascript:void(0);"></a></li>
										<li><a class="fa fa-twitter" href="javascript:void(0);"></a></li>
										<li><a class="fa fa-linkedin" href="javascript:void(0);"></a></li>
										<li><a class="fa fa-pinterest" href="javascript:void(0);"></a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 col-sm-6">
							<div class="dlab-box m-b30 dlab-team1">
								<div class="dlab-media">
									<a [routerLink]="['/teachers-profile']">
										<img width="358" height="460" alt="" src="assets/images/our-team/pic6.jpg">
									</a>
								</div>
								<div class="dlab-info">
									<h4 class="dlab-title"><a [routerLink]="['/teachers-profile']">Konne Backfield</a></h4>
									<span class="dlab-position">Designer</span>
									<ul class="dlab-social-icon dez-border">
										<li><a class="fa fa-facebook" href="javascript:void(0);"></a></li>
										<li><a class="fa fa-twitter" href="javascript:void(0);"></a></li>
										<li><a class="fa fa-linkedin" href="javascript:void(0);"></a></li>
										<li><a class="fa fa-pinterest" href="javascript:void(0);"></a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 col-sm-6">
							<div class="dlab-box m-b30 dlab-team1">
								<div class="dlab-media">
									<a [routerLink]="['/teachers-profile']">
										<img width="358" height="460" alt="" src="assets/images/our-team/pic7.jpg">
									</a>
								</div>
								<div class="dlab-info">
									<h4 class="dlab-title"><a [routerLink]="['/teachers-profile']">Hackson Willingham</a></h4>
									<span class="dlab-position">Developer</span>
									<ul class="dlab-social-icon dez-border">
										<li><a class="fa fa-facebook" href="javascript:void(0);"></a></li>
										<li><a class="fa fa-twitter" href="javascript:void(0);"></a></li>
										<li><a class="fa fa-linkedin" href="javascript:void(0);"></a></li>
										<li><a class="fa fa-pinterest" href="javascript:void(0);"></a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 col-sm-6">
							<div class="dlab-box m-b30 dlab-team1">
								<div class="dlab-media">
									<a [routerLink]="['/teachers-profile']">
										<img width="358" height="460" alt="" src="assets/images/our-team/pic8.jpg">
									</a>
								</div>
								<div class="dlab-info">
									<h4 class="dlab-title"><a [routerLink]="['/teachers-profile']">Konne Backfield</a></h4>
									<span class="dlab-position">Manager</span>
									<ul class="dlab-social-icon dez-border">
										<li><a class="fa fa-facebook" href="javascript:void(0);"></a></li>
										<li><a class="fa fa-twitter" href="javascript:void(0);"></a></li>
										<li><a class="fa fa-linkedin" href="javascript:void(0);"></a></li>
										<li><a class="fa fa-pinterest" href="javascript:void(0);"></a></li>
									</ul>
								</div>
							</div>
						</div> -->
					</div>
				</div>
			</div>
			<!-- Our Team END -->
			<!-- Client logo -->
			<!-- <app-client1></app-client1> -->
			<!-- Client logo END -->
		</div>
		<!-- contact area END -->
    </div>
    <!-- Content END-->
	<!-- Footer -->
   <!-- Newsletter -->
	<!-- <app-newsletter2></app-newsletter2> -->
   <!-- Footer -->
    <app-footer13></app-footer13>
    <!-- Footer END-->
    <button class="scroltop fa fa-chevron-up" ></button>
</div>