<div class="page-wraper">
	<!-- header -->
    <app-header-light4></app-header-light4>
    <!-- header END -->
	<!-- Slider -->
	<app-slider4></app-slider4>
	<!-- Slider END -->   
	<!-- Our Services -->
	<div class="section-full content-inner bg-white">
		<div class="container">
			<app-content5></app-content5>
			<app-icon-box1></app-icon-box1>
			
		</div>
	</div>    
	<!-- Content -->
    <div class="page-content bg-white">	
        <!-- contact area -->
        <div class="content-block">
			<!-- Register Form -->
			<app-registration-form1></app-registration-form1>
			<!-- Register Form End -->
			<app-content6></app-content6>
			<!-- About Us End -->
			<!-- About Company -->
			<app-courses3></app-courses3>
			<!-- About Company END -->
			<!-- Latest From Blog -->
			<app-events1></app-events1>
			<!-- Latest From Blog End -->
			<!-- Call To Action -->
			<app-call-to-action3></app-call-to-action3>
			<!-- Call To Action End -->
		</div>
		<!-- contact area END -->
    </div>
    <!-- Content END -->
	<!-- Footer -->
    <app-footer4></app-footer4>