<div class="section-full overlay-black-middle bg-secondry content-inner-2 wow fadeIn" data-wow-duration="2s" data-wow-delay="0.2s" style="background-image:url(assets/images/background/map-bg.png);">
				<div class="container">
					<div class="section-head text-white text-center">
						<h1 class="title  text-center">رأي عملائنا </h1>
						<p></p>
					</div>
					<div class="section-content">
						<div class="testimonial-two-dots owl-carousel owl-none owl-theme owl-dots-primary-full owl-loaded owl-drag">
							<div class="item">
								<div class="testimonial-15 quote-right">
									<div class="testimonial-text ">
										<p class="text-center">
												تتميز الشركة بالمصدقية فى الاماكن المتفق عليها فى الكارت
												الالتزام بمواعيد تسليم الكارت . 
												سرعة تسليم الكارت فور  طلبه .
												الاستفادة من الخصومات فى الاماكن المتفق عليها فى الكارت .
											</p>
									</div>
									<div class="testimonial-detail clearfix">
										<div class="testimonial-pic radius"><img src="assets/images/im20.jpeg" width="100" height="100" alt=""></div>
										<strong class="testimonial-name">أسماء محمد</strong> <span class="testimonial-position">طالبة</span> 
									</div>
								</div>
							</div>
							<div class="item">
								<div class="testimonial-15 quote-right">
									<div class="testimonial-text ">
										<p class="text-center">
											المتابعة الجيدة وتعلم كل ماهو جديد فى وقت قياسى .
											</p>
									</div>
									<div class="testimonial-detail clearfix">
										<div class="testimonial-pic radius"><img src="assets/images/im52.jpg" width="100" height="100" alt=""></div>
										<strong class="testimonial-name">نورة الدوسري </strong> <span class="testimonial-position">طالبة</span> 
									</div>
								</div>
							</div>
							<div class="item">
								<div class="testimonial-15 quote-right">
									<div class="testimonial-text ">
										<p class="text-center">
												تتميز الشركة بالمصدقية فى الاماكن المتفق عليها فى الكارت
												الالتزام بمواعيد تسليم الكارت . 
												سرعة تسليم الكارت فور  طلبه .
												الاستفادة من الخصومات فى الاماكن المتفق عليها فى الكارت .
											</p>
									</div>
									<div class="testimonial-detail clearfix">
										<div class="testimonial-pic radius"><img src="assets/images/im53.jpg" width="100" height="100" alt=""></div>
										<strong class="testimonial-name">جواهر  الشمري</strong> <span class="testimonial-position">طالبة</span> 
									</div>
								</div>
							</div>
							<div class="item">
								<div class="testimonial-15 quote-right">
									<div class="testimonial-text ">
										<p class="text-center">
											 التعلم على يد اكاديمين متخصصين 											</p>
									</div>
									<div class="testimonial-detail clearfix">
										<div class="testimonial-pic radius"><img src="assets/images/im41.jpg" width="100" height="100" alt=""></div>
										<strong class="testimonial-name">شيخة الشايقي </strong> <span class="testimonial-position">طالبة</span> 
									</div>
								</div>
							</div>
							
							<!-- <div class="item">
								<div class="testimonial-15 quote-right">
									<div class="testimonial-text">
										<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum</p>
									</div>
									<div class="testimonial-detail clearfix">
										<div class="testimonial-pic radius"><img src="assets/images/testimonials/pic2.jpg" width="100" height="100" alt=""></div>
										<strong class="testimonial-name">David Matin</strong> <span class="testimonial-position">Student</span> 
									</div>
								</div>
							</div>
							<div class="item">
								<div class="testimonial-15 quote-right">
									<div class="testimonial-text">
										<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum</p>
									</div>
									<div class="testimonial-detail clearfix">
										<div class="testimonial-pic radius"><img src="assets/images/testimonials/pic1.jpg" width="100" height="100" alt=""></div>
										<strong class="testimonial-name">David Matin</strong> <span class="testimonial-position">Student</span> 
									</div>
								</div>
							</div>
							<div class="item">
								<div class="testimonial-15 quote-right">
									<div class="testimonial-text ">
										<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum</p>
									</div>
									<div class="testimonial-detail clearfix">
										<div class="testimonial-pic radius"><img src="assets/images/testimonials/pic3.jpg" width="100" height="100" alt=""></div>
										<strong class="testimonial-name">David Matin</strong> <span class="testimonial-position">Student</span> 
									</div>
								</div>
							</div>
							<div class="item">
								<div class="testimonial-15 quote-right">
									<div class="testimonial-text">
										<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum</p>
									</div>
									<div class="testimonial-detail clearfix">
										<div class="testimonial-pic radius"><img src="assets/images/testimonials/pic2.jpg" width="100" height="100" alt=""></div>
										<strong class="testimonial-name">David Matin</strong> <span class="testimonial-position">Student</span> 
									</div>
								</div>
							</div>
							<div class="item">
								<div class="testimonial-15 quote-right">
									<div class="testimonial-text">
										<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum</p>
									</div>
									<div class="testimonial-detail clearfix">
										<div class="testimonial-pic radius"><img src="assets/images/testimonials/pic1.jpg" width="100" height="100" alt=""></div>
										<strong class="testimonial-name">David Matin</strong> <span class="testimonial-position">Student</span> 
									</div>
								</div>
							</div> -->
						</div>
					</div>
				</div>
			</div>