<div >
	<!-- header -->
	<app-header-light3></app-header-light3>
	
	<!-- header END -->
	<!-- Content -->
	<div class="page-content bg-white">
		<!-- Main Slider -->
		<app-slider1></app-slider1>
		<!-- Main Slider -->
		<!-- contact area -->
		<div class="content-block">
			<!-- About Company -->
			<app-courses1></app-courses1>
			<!-- <app-large-image></app-large-image> -->

			<!-- <app-large-image></app-large-image> -->
			<!-- About Company END -->
			<!-- Our Projects  -->
			<app-newsletter1></app-newsletter1>
			<!-- Our Projects END -->
			<!-- Our Services -->
			<app-content1></app-content1>
			<!-- Our Services End -->
			<!-- Company staus -->
			<app-counter1></app-counter1>
			
			<!-- Company staus End -->
			<!-- Team member -->
			<app-team1></app-team1>
			<!-- Team member End -->
			<!-- Testimonials blog -->
			<app-testimonial1></app-testimonial1>
			<!-- Testimonials blog End -->
			<!-- Latest blog -->
			<!-- <app-blog1></app-blog1> -->
			<!-- Latest blog END -->
			<!-- Client logo -->
			<!-- <app-client1></app-client1> -->
			<!-- Client logo END -->
		</div>
	</div>
	<!-- Content END-->
	<!-- Newsletter -->
	<app-newsletter2></app-newsletter2>
	<!-- Footer -->
	<app-footer13></app-footer13>
	<!-- Footer END-->
	<button class="scroltop icon-up" type="button"><i class="fa fa-arrow-up"></i></button>
</div>