
<div class="page-wraper">

    <!-- header -->
    <app-header-light5></app-header-light5>
    <!-- header END -->
    <!-- Content -->
    <div class="page-content bg-white">
		<!-- Slider -->
        <app-slider3></app-slider3>
		<!-- Slider END -->
        <!-- contact area -->
        <div class="content-block">
			<!-- Our Story -->
			<app-registration-form2></app-registration-form2>
			<!-- Our Story End -->
			<!-- Service Info Head -->
			<app-call-to-action1></app-call-to-action1>
			<!-- Service Info Head End -->
			<!-- Features -->
			<app-services-element1 [data] = "services"></app-services-element1>
			<!-- Features End -->
			<!-- Call To Action -->
			<app-call-to-action2></app-call-to-action2>
			<!-- Call To Action End -->
			<!-- Courses -->
			<app-courses2></app-courses2>
			<!-- Courses End -->
			<!-- Latests News -->
			<app-blog3></app-blog3>
			<!-- Latest News End -->
			<!-- Call To Action -->
			<app-call-to-action3></app-call-to-action3>
			<!-- Call To Action End -->
		</div>
		<!-- contact area END -->
    </div>
    <!-- Content END -->
	<!-- Footer -->
    <app-footer11></app-footer11>
    <!-- Footer END-->

    <button class="scroltop style1 radius white" type="button"><i class="fa fa-arrow-up"></i></button>
</div>