
<div class="page-wraper">

	<!-- header -->
    <app-header-light3></app-header-light3>
    <!-- header END -->
    <!-- Content -->
    <div class="page-content bg-white">
        <!-- inner page banner -->
        <app-banner1 [data] = "banner"></app-banner1>
        <!-- inner page banner END -->
        <!-- contact area -->
        <div class="content-block">
            <!-- Your Faq -->
            <div class="section-full overlay-white-middle content-inner">
                <div class="container">
                    <div class="section-head text-black text-center">
						<h3 class="title">Do you have Questions?</h3>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry has been the industry's standard dummy text ever since the been when an unknown printer.</p>
					</div>
					<div class="row">
						<div class="col-lg-4 col-md-12 m-b30"> 
							<app-query-form></app-query-form>
						</div>
						<div class="col-lg-8 col-md-12 m-b30">
							<app-accordian1></app-accordian1>
						</div>
					</div>
                </div>
            </div>
            <!-- Your Faq End -->
        </div>
		<!-- contact area END -->
    </div>
    <!-- Content END-->
	<!-- Footer -->
   <!-- Newsletter -->
	<app-newsletter2></app-newsletter2>
   <!-- Footer -->
    <app-footer13></app-footer13>
    <!-- Footer END-->
    <button class="scroltop fa fa-chevron-up" ></button>
</div>