<div class="section-full bg-white content-inner">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<div class="section-head head-langschool text-center">
								<h5 class="text-primary">Students Saying</h5>
								<h2 class="title">What Students Say</h2>
							</div>
							<div class="section-content">
								<div class="testimonial-six owl-carousel owl-btn-center-lr owl-btn-2 primary testimonial-13-area dots-style-3 owl-theme">
									<div class="item">
										<div class="testimonial-13">
											<div class="testimonial-text">
												<div class="quote-left"></div>
												<p>Lorem Ipsum has been the industry's standard dummy text ever since the when an printer took a galley.</p>
											</div>
											<div class="testimonial-detail clearfix">
												<div class="testimonial-pic radius shadow">
													<img src="assets/images/testimonials/pic1.jpg" alt="">
												</div>
												<h5 class="testimonial-name m-t10 m-b5">David Matin</h5> 
												<span class="testimonial-position text-primary">Student</span> 
											</div>
										</div>
									</div>
									<div class="item">
										<div class="testimonial-13">
											<div class="testimonial-text">
												<div class="quote-left"></div>
												<p>Lorem Ipsum has been the industry's standard dummy text ever since the when an printer took a galley.</p>
											</div>
											<div class="testimonial-detail clearfix">
												<div class="testimonial-pic radius shadow">
													<img src="assets/images/testimonials/pic2.jpg" alt="">
												</div>
												<h5 class="testimonial-name m-t10 m-b5">David Matin</h5> 
												<span class="testimonial-position text-primary">Student</span> 
											</div>
										</div>
									</div>
									<div class="item">
										<div class="testimonial-13">
											<div class="testimonial-text">
												<div class="quote-left"></div>
												<p>Lorem Ipsum has been the industry's standard dummy text ever since the when an printer took a galley.</p>
											</div>
											<div class="testimonial-detail clearfix">
												<div class="testimonial-pic radius shadow">
													<img src="assets/images/testimonials/pic3.jpg" alt="">
												</div>
												<h5 class="testimonial-name m-t10 m-b5">David Matin</h5> 
												<span class="testimonial-position text-primary">Student</span> 
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
                </div>
            </div>