<div class="section-full bg-secondry form-area style1 content-inner overlay-black-dark bg-img-fix" style="background-image:url(assets/images/background/bg7.jpg)">
				<div class="container">
					<div class="row align-items-center">
						<div class="col-lg-7 m-b30">
							<div class="section-head">
								<h4 class="title-small">Get a Free online Registeration</h4>
								<h2 class="title text-primary">register now!</h2>
								<p>There are many variations of passages of Lorem Ipsum typesetting industry has been the industry's standard dummy text ever since the been when an unknown printer are many variations of passages of Lorem Ipsum typesetting industry has been the industry's standard dummy text ever since the been when an unknown printer.</p>
							</div>
							<div class="row">
								<div class="col-lg-3 col-md-3 col-sm-6 col-6 m-b30">
									<div class="dlab-box counter-style-2 text-white">
										<div class="icon-lg"><i class="flaticon-mortarboard"></i></div>
										<h2 class="counter text-primary m-b5">150</h2>
										<span class="counter-text">Happy Students</span> 
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-6 col-6 m-b30">
									<div class="dlab-box counter-style-2 text-white">
										<div class="icon-lg"><i class="flaticon-homework"></i></div>
										<h2 class="counter text-primary m-b5">256</h2>
										<span class="counter-text">Approved Courses</span> 
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-6 col-6 m-b30">
									<div class="dlab-box counter-style-2 text-white">
										<div class="icon-lg"><i class="flaticon-classroom"></i></div>
										<h2 class="counter text-primary m-b5">652</h2>
										<span class="counter-text">Certified Teachers</span> 
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-6 col-6 m-b30">
									<div class="dlab-box counter-style-2 text-white">
										<div class="icon-lg"><i class="flaticon-championship"></i></div>
										<h2 class="counter text-primary m-b5">765</h2>
										<span class="counter-text">Graduate Students</span> 
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-5 m-b30">
							<div class="register-form style1">
								<form method="post" class="dzForm" action="script/contact.php">
									<input type="hidden" value="Appointment" name="dzToDo" >
									<div class="row sp15">
										<div class="col-md-12">
											<div class="form-group">
												<input name="dzName" class="form-control" placeholder="Name" type="text">
											</div>
										</div>
										<div class="col-md-12">
											<div class="form-group">
												<input name="dzEmail" class="form-control" placeholder="Email" type="text">
											</div>
										</div>
										<div class="col-md-12">
											<div class="form-group">
												<input name="dzOther[date]" class="form-control" placeholder="Select Date" type="text">
											</div>
										</div>
										<div class="col-md-12">
											<div class="form-group">
												<select class="bs-select-hidden" name="dzOther[service]" >
													<option value="Yoda">Mathematics</option>
													<option value="Wait Loss">Physics</option>
													<option value="Cardio">Chemistry</option>
													<option value="Gym">Biology</option>
												</select>
											</div>
										</div>
										<div class="col-md-12">
											<div class="form-group">
												<div class="input-group">
													<textarea name="dzMessage" rows="4" class="form-control" required=""></textarea>
												</div>
											</div>
										</div>
										<div class="col-md-12 text-center">
											<button name="submit" type="submit" value="Submit" class="site-button btn-block"><span>Submit</span></button>
										</div>
									</div>
								</form>
							</div>
						</div>
                    </div>
				</div>
			</div>