<div class="section-full content-inner bg-white wow fadeIn" data-wow-duration="2s" data-wow-delay="0.4s">
				<div class="container">
					<div class="row about-one align-items-center">
						<div class="col-lg-6 m-b30">
							<div class="about-img">
								<img src="assets/images/about/about1.jpg" alt="">
								<div class="video-bx">
									<a href="https://www.youtube.com/watch?v=_FRZVScwggM" class="popup-youtube bg-primary"><i class="fa fa-play"></i></a>
								</div>
								<div class="info-bx">
									<p>About EduZone</p>
								</div>
							</div>
						</div>
						<div class="col-lg-6 m-b30">
							<div class="content-bx">
								<h2 class="m-b15 title">A company involved in<br><span class="text-primary"> service, maintenance</span></h2>
								<p class="m-b20">Lorem Ipsum is simply dummy text of the printing and typesetting industry has been the industry's standard dummy text ever since the been when an unknown printer There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p>											
								<h6 class="m-b20">Best Education For EduZone University</h6>
								<div class="d-flex align-items-center">
									<a href="javascript:void(0);" class="site-button m-r30 radius-no">Read More</a>
									<div class="phone">
										<i class="fa fa-volume-control-phone"></i>
										<span>+91 (123) 456 7890</span>
									</div>
								</div>
							</div>
						</div>
					</div>	
				</div>
			</div>