
<div class="page-wraper">
	<!-- header -->
    <app-header-light7></app-header-light7>
    <!-- header END -->
	<!-- Content -->
    <div class="page-content bg-white">	
		<!-- Slider -->
        <app-slider5></app-slider5>
		<!-- END REVOLUTION SLIDER -->
		<!-- Slider END -->
        <!-- contact area -->
        <div class="content-block">
			<!-- About Us End -->
			<app-content7></app-content7>
			<!-- Content Section -->
			<app-content12 [data] = "skills"></app-content12>
			<!-- Company staus -->
			<app-counter2></app-counter2>
			<!-- Company staus End -->
			<!-- Features -->
			<app-content16></app-content16>
			<!-- Features End -->
			<!-- Testimonials -->
			<app-gallery2></app-gallery2>
			<!-- Testimonials End -->
			<!-- Latest blog -->
			<app-events2></app-events2>
			<!-- Latest blog END -->
		</div>
		<!-- contact area END -->
    </div>
    <!-- Content END -->
	<app-newsletter2></app-newsletter2>
     <!-- Footer -->
    <app-footer13></app-footer13>