<div class="section-full content-inner-2 bg-gray">
				<div class="container">
					<div class="section-head head-langschool text-center ">
						<h5 class="text-primary">Choose a Plan</h5>
						<h2 class="title">Pricing Plans</h2>
					</div>
					<div class="section-content box-sort-in button-example m-t80">
						<div class="pricingtable-row">
							<div class="row max-w1000 m-auto">
								<div class="col-sm-12 col-md-4 col-lg-4 p-lr0">
									<div class="pricingtable-wrapper style2 bg-white">
										<div class="pricingtable-inner">
											<div class="pricingtable-price"> 
												<h4 class="m-t10 m-b0">Basic</h4>
												<div class="pricingtable-bx"><span>Free</span></div>
											</div>
											<p>Lorem ipsum dolor sit amet adipiscing elit sed do eiusmod tempors labore et dolore magna siad enim aliqua</p>
											<div class="m-t20"> 
												<a href="javascript:void(0);" class="site-button btnhover17"><span class="p-lr30">Sign Up</span></a> 
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-12 col-md-4 col-lg-4 p-lr0">
									<div class="pricingtable-wrapper style2 bg-primary text-white active">
										<div class="pricingtable-inner">
											<div class="pricingtable-price"> 
												<h4 class="m-t10 m-b0">Professional</h4>
												<div class="pricingtable-bx"> $ <span>29</span> /  Per Installation </div>
											</div>
											<p>Lorem ipsum dolor sit amet adipiscing elit sed do eiusmod tempors labore et dolore magna siad enim aliqua</p>
											<div class="m-t20"> 
												<a href="javascript:void(0);" class="site-button btnhover17 white"><span class="p-lr30">Sign Up</span></a> 
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-12 col-md-4 col-lg-4 p-lr0">
									<div class="pricingtable-wrapper style2 bg-white">
										<div class="pricingtable-inner">
											<div class="pricingtable-price"> 
												<h4 class="m-t10 m-b0">Extended</h4>
												<div class="pricingtable-bx"> $  <span>29</span> /  Per Installation </div>
											</div>
											<p>Lorem ipsum dolor sit amet adipiscing elit sed do eiusmod tempors labore et dolore magna siad enim aliqua</p>
											<div class="m-t20"> 
												<a href="javascript:void(0);" class="site-button btnhover17"><span class="p-lr30">Sign Up</span></a> 
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>