<div class="section-full content-inner-2 bg-dark wow fadeIn" data-wow-duration="2s" data-wow-delay="0.6s">
				<div class="container">
					<div class="section-head head-langschool text-center text-white">
						<h5 class="text-primary">Events</h5>
						<h2 class="title">Our Events</h2>
					</div>
					<div class="blog-carousel owl-btn-center-lr owl-carousel owl-btn-3 btn-white">
						<div class="items">
							<div class="event-post post-grid shadow radius bg-white border-0">
								<div class="dlab-post-media">
									<a [routerLink]="['/event-details']"><img src="assets/images/events/grid/pic1.jpg" alt=""></a>
								</div>
								<div class="dlab-post-info">
									<div class="dlab-post-meta">
										<ul>
											<li class="post-date"> <strong>10 June</strong> <span> 2020</span> </li>
											<li class="post-author"> <i class="la la-clock"></i> 05:00 PM </li>
											<li class="post-tag"> <i class="ti-location-pin"></i> Marmora Road </li>
										</ul>
									</div>
									<div class="dlab-post-title">
										<h4 class="post-title"><a [routerLink]="['/event-details']">Why is Early Education Essential?</a></h4>
									</div>
								</div>
							</div>
						</div>
						<div class="items">
							<div class="event-post post-grid shadow radius bg-white border-0">
								<div class="dlab-post-media">
									<a [routerLink]="['/event-details']"><img src="assets/images/events/grid/pic2.jpg" alt=""></a>
								</div>
								<div class="dlab-post-info">
									<div class="dlab-post-meta">
										<ul>
											<li class="post-date"> <strong>10 June</strong> <span> 2020</span> </li>
											<li class="post-author"> <i class="la la-clock"></i> 05:00 PM </li>
											<li class="post-tag"> <i class="ti-location-pin"></i> Marmora Road </li>
										</ul>
									</div>
									<div class="dlab-post-title">
										<h4 class="post-title"><a [routerLink]="['/event-details']">The Shocking Revelation of Education.</a></h4>
									</div>
								</div>
							</div>
						</div>
						<div class="items">
							<div class="event-post post-grid shadow radius bg-white border-0">
								<div class="dlab-post-media">
									<a [routerLink]="['/event-details']"><img src="assets/images/events/grid/pic3.jpg" alt=""></a>
								</div>
								<div class="dlab-post-info">
									<div class="dlab-post-meta">
										<ul>
											<li class="post-date"> <strong>10 June</strong> <span> 2020</span> </li>
											<li class="post-author"> <i class="la la-clock"></i> 05:00 PM </li>
											<li class="post-tag"> <i class="ti-location-pin"></i> Marmora Road </li>
										</ul>
									</div>
									<div class="dlab-post-title">
										<h4 class="post-title"><a [routerLink]="['/event-details']">Five Things Nobody Told You About</a></h4>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>