<div class="section-full bg-gray content-inner about-carousel-ser">
				<div class="container">
					<div class="section-head text-center">
						<h2 class="title">أشهر الدورات  التدريبة</h2>
						<!-- <p>There are many variations of passages of Lorem Ipsum typesetting industry has been the industry's standard dummy text ever since the been when an unknown printer.</p> -->
					</div>
					<div class="row">
						<div class="col-md-6 col-lg-3 col-sm-6">
							<div class="dlab-box courses-bx">
								<div class="dlab-media"> 
									<img src="assets/images/im204.jpg" alt="">
									<div class="user-info">
										<!-- <img src="assets/images/testimonials/pic1.jpg" alt=""> -->
										<!-- <h6 class="title">Jack Ronan</h6> -->
										<!-- <div class="review">
											<ul class="item-review">
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star-half-o"></i></li>
												<li><i class="fa fa-star-o"></i></li>
											</ul>
											 <span>10 Review</span>
										</div> -->
									</div>
								</div>
								<div class="dlab-info text-center">
									<h6 class="dlab-title">كورس ادارة المشاريع </h6>
									<p>كيفية ادارة المشروع الخاص بك <br> وإدراه الأموال والموارد البشرية</p>
									<!-- <div class="courses-info">
										<ul>
											<li><i class="fa fa-users"></i> 20 Student </li>
										</ul>
										<span class="price">$79.00</span>
									</div> -->
								</div>
							</div>
						</div>
						<div class="col-md-6 col-lg-3 col-sm-6">
							<div class="dlab-box courses-bx">
								<div class="dlab-media"> 
									<img src="assets/images/im201.png" alt="">
									<div class="user-info">
										<!-- <img src="assets/images/testimonials/pic2.jpg" alt=""> -->
										<!-- <h6 class="title">Jack Ronan</h6> -->
										<!-- <div class="review">
											<ul class="item-review">
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star-half-o"></i></li>
												<li><i class="fa fa-star-o"></i></li>
											</ul>
											<span>10 Review</span>
										</div> -->
									</div>
								</div>
								<div class="dlab-info text-center">
									<h6 class="dlab-title">كورس الأمن السيبرانى</h6>
									<p>التعرف على كيفية حماية حسابك الإلكتروني  <br> الشخصى</p>
									<!-- <div class="courses-info">
										<ul>
											<li><i class="fa fa-users"></i> 20 Student </li>
										</ul>
										<span class="price">$79.00</span>
									</div> -->
								</div>
							</div>
						</div>
						<div class="col-md-6 col-lg-3 col-sm-6">
							<div class="dlab-box courses-bx">
								<div class="dlab-media"> 
									<img src="assets/images/im200.png" alt="">
									<div class="user-info">
										<!-- <img src="assets/images/testimonials/pic3.jpg" alt=""> -->
										<!-- <h6 class="title">Jack Ronan</h6> -->
										<!-- <div class="review">
											<ul class="item-review">
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star-half-o"></i></li>
												<li><i class="fa fa-star-o"></i></li>
											</ul>
											<span>10 Review</span>
										</div> -->
									</div>
								</div>
								<div class="dlab-info text-center">
									<!-- <h6 class="dlab-title"><a [routerLink]="['/courses-details']">كورس التخطيط المالى </a></h6> -->
									<h6 class="dlab-title">كورس التخطيط المالى </h6>
									<p>تحديد ميزانية بدء المشروع وكيفية إدارتة والنتائج المرجوه منه</p>
									<!-- <div class="courses-info">
										<ul>
											<li><i class="fa fa-users"></i> 20 Student </li>
										</ul>
										<span class="price">$79.00</span>
									</div> -->
								</div>
							</div>
						</div>
						<div class="col-md-6 col-lg-3 col-sm-6">
							<div class="dlab-box courses-bx">
								<div class="dlab-media"> 
									<img src="assets/images/im202.png" alt="">
									<div class="user-info">
										<!-- <img src="assets/images/testimonials/pic2.jpg" alt=""> -->
										<!-- <h6 class="title">Jack Ronan</h6>
										<div class="review">
											<ul class="item-review">
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star-half-o"></i></li>
												<li><i class="fa fa-star-o"></i></li>
											</ul>
											<span>10 Review</span>
										</div> -->
									</div>
								</div>
								<div class="dlab-info text-center">
									<h6 class="dlab-title">كورس المحاسبة لغير المحاسبين</h6>
									<p> سوف تصبح محاسب متميز من خلال هذا الكورس على الرغم من أنه ليس تخصصك </p>
									<!-- <div class="courses-info">
										<ul>
											<li><i class="fa fa-users"></i> 20 Student </li>
										</ul>
										<span class="price">$79.00</span>
									</div> -->
								</div>
							</div>
						</div>
					</div>
				</div>	
			</div>