<div class="page-wraper">

    <!-- header -->
    <app-header-light1 [data] = "header"></app-header-light1>
    <!-- header END -->
	<!-- Slider -->
	<app-slider2></app-slider2>     
	<!-- Slider END -->
    <!-- Content -->
    <div class="page-content bg-white">
		<!-- contact area -->
        <div class="content-block">
			<!-- About Us -->
			<app-content2></app-content2>
            <app-content3></app-content3>
			<!-- About Us End -->
			<app-gallery1></app-gallery1>
			<app-team2></app-team2>
			<app-testimonial2></app-testimonial2>
			<app-blog2></app-blog2>
		</div>
    </div>
	<!-- Content END-->
	<!-- Footer -->
    <app-footer14></app-footer14>
    <!-- Footer END-->
    <button class="scroltop style1 radius" type="button"><i class="fa fa-arrow-up"></i></button>
</div>