<div class="section-full bg-white content-inner-1" style="background-image:url(assets/images/line2.png); background-size:contain;background-repeat: no-repeat;background-position: center;">
                <div class="container">
					<div class="section-head kinder-head text-center">
						<h2 class="head-title text-primary">About the Teachers</h2>
						<p>We have an excellent teacher to child ratio at our Kindergarten to ensure that each child receives the attention he or she needs</p>
					</div>
					<div class="kinder-carousel owl-carousel owl-theme dots-none sprite-nav">
						<div class="item">
							 <div class="dlab-box box-frame1 kinder-team">
								<div class="dlab-thum"> 
									<a [routerLink]="['/teachers-profile']">
										<img src="assets/images/our-team/kindergarten/pic1.jpg" alt="">
									</a>
									<div class="overlay-bx">
										<h5 class="team-title"><a [routerLink]="['/teachers-profile']">Jone Doe</a></h5>
										<span class="team-info">Teachers</span>
										<ul class="list-inline">
											<li><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
											<li><a href="javascript:void(0);"><i class="fa fa-google-plus"></i></a></li>
											<li><a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a></li>
											<li><a href="javascript:void(0);"><i class="fa fa-instagram"></i></a></li>
											<li><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="item">
							 <div class="dlab-box box-frame2 kinder-team">
								<div class="dlab-thum"> 
									<a [routerLink]="['/teachers-profile']">
										<img src="assets/images/our-team/kindergarten/pic2.jpg" alt="">
									</a>
									<div class="overlay-bx">
										<h5 class="team-title"><a [routerLink]="['/teachers-profile']">Jone Doe</a></h5>
										<span class="team-info">Teachers</span>
										<ul class="list-inline">
											<li><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
											<li><a href="javascript:void(0);"><i class="fa fa-google-plus"></i></a></li>
											<li><a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a></li>
											<li><a href="javascript:void(0);"><i class="fa fa-instagram"></i></a></li>
											<li><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="item">
							 <div class="dlab-box box-frame3 kinder-team">
								<div class="dlab-thum"> 
									<a [routerLink]="['/teachers-profile']">
										<img src="assets/images/our-team/kindergarten/pic3.jpg" alt="">
									</a>
									<div class="overlay-bx">
										<h5 class="team-title"><a [routerLink]="['/teachers-profile']">Jone Doe</a></h5>
										<span class="team-info">Teachers</span>
										<ul class="list-inline">
											<li><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
											<li><a href="javascript:void(0);"><i class="fa fa-google-plus"></i></a></li>
											<li><a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a></li>
											<li><a href="javascript:void(0);"><i class="fa fa-instagram"></i></a></li>
											<li><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="item">
							 <div class="dlab-box box-frame4 kinder-team">
								<div class="dlab-thum"> 
									<a [routerLink]="['/teachers-profile']">
										<img src="assets/images/our-team/kindergarten/pic4.jpg" alt="">
									</a>
									<div class="overlay-bx">
										<h5 class="team-title"><a [routerLink]="['/teachers-profile']">Jone Doe</a></h5>
										<span class="team-info">Teachers</span>
										<ul class="list-inline">
											<li><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
											<li><a href="javascript:void(0);"><i class="fa fa-google-plus"></i></a></li>
											<li><a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a></li>
											<li><a href="javascript:void(0);"><i class="fa fa-instagram"></i></a></li>
											<li><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
            </div>