<div class="section-full content-inner bg-white">
				<div class="container">
					<div class="row align-items-center">
						<div class="col-lg-6 col-md-12 m-b30 about-two align-self-start">
							<div class="row sp10">
								<div class="col-md-12 ">
								
									<img src="assets\images\im24.jpeg" class="image1"  alt=""> <br><br>
									<img class="mt-2 im" src="assets\images\im50.jpg"   alt="">
									<!-- <img src="{{data.images_data.img1}}" class="img-cover" alt=""> -->
								</div>
								<div class="col-md-12 m-b10">
									<!-- <div>
									<img src="assets\images\im26.jpeg" class="image1"  alt="">
									</div> -->
									<!-- <img src="{{data.images_data.img2}}" class="img-cover" alt=""> -->
								</div>
								<!-- <div class="col-md-5 m-b10">
									<div >
										
										<div [innerHTML]="data.exp_content"></div>
									</div>
								</div> -->
							</div>
						</div>
						<div class="col-lg-6 m-b30 about-two" dir="rtl">
							<div class="section-head m-b20" dir="rtl">
								<h2  dir="rtl" class="title text-center "> </h2>
								
								<h4  class=" text-center " >
									يعتبر  التدريب أحد أهم الأنشطة التي تسهم في تنمية المجتمع وتطوير مهاراتهم، والنهوض بمستوى انتاجيتهم، <br><br>  ونظراً للتطور الهائل في مختلف المجالات العلمية والثقافية والتكنولوجية والتي حتم علينا مواكبتها، <br><br> فالتدريب أحد أبرز وأهم السبل لمواكبة التقدم والتنمية والتطوير، ونشر الثقافة والتوعية،<br><br> بالإضافة إلى دوره الفاعل في المساهمة في تحقيق رؤية هذا الوطن الغالي ٢٠٣٠م.<br><br>

									من هنا كان لمركز تدريب إثراء الحياة  للتدريب الريادة والتميز في ذلك فقد حمل على عاتقه ضرورة تطوير مهارات وقدرات أبناء هذا الوطن  <br><br> والاستثمار بهم بتزويدهم بمختلف المعارف اللازمة والملائمة لاحتياجات المجتمع ومتطلبات سوق العمل وتحقيق أهدافهم بكفاءة وفعالية والمساهمة في بناء نهضة هذا الوطن المعطاء،<br><br> وذلك من خلال تقديم باقة من الدبلومات و الدورات التدريبية من مختلف المجالات (حضورية – عن بعد) والمرخصة والمعتمدة من المؤسسة العامة للتدريب التقني والمهني (للسيدات والرجال)، <br><br> ويقوم بتقديمها نخبة من المدربين والمدربات المتخصصين والمؤهلين، في بيئة تدريبية متميزة من قاعات ومعامل وخدمات مجهزة بأحدث التقنيات.
								</h4>
								
								<!-- <div dir="rtl" class="dlab-separator bg-primary"></div> -->
							</div>
							<!-- <ul class="ulfont">
								
								<li>	برامج  موهبة وابداع</li>
								<li>	برامج تطوير الذات</li>
								<li>		برامج اسرية</li>
								<li>	برامج تربوية وتعلمية</li>
								<li>	برامج سفر وسياحة.</li>
								<li>	برامج اعلامية</li>
								<li>	برامج فنون وتصميم</li>
						
							</ul> -->
							<!-- <div [innerHTML]="data.content" dir="rtl" ></div> -->
							
							<!-- <a dir="rtl" href="{{data.content_link}}" class="site-button">Read More</a> -->
						</div>
					</div>
				</div>
			</div>